In [19]:
import sys, os, os.path
if not 'EXPERIMENT_HOME' in os.environ: # Configure local paths if not already defined
    ML_HOME = os.path.abspath(os.path.join("..", "ml_home")) # ML workspace
    EXPERIMENT_HOME = os.path.abspath(os.path.join(ML_HOME, "..")) # Experiment workspace
    DATA_HOME = os.path.abspath(os.path.join(EXPERIMENT_HOME,"dataset")) # Dataset location
    os.environ["EXPERIMENT_HOME"] = EXPERIMENT_HOME
    os.environ["DATA_HOME"] = DATA_HOME
    sys.path.insert(0, EXPERIMENT_HOME)
    sys.path.insert(0, ML_HOME) # Add to path so can load our library
    os.chdir(EXPERIMENT_HOME) # Change working directory to experiment workspace
print("Experiment Home: ", os.path.abspath(os.curdir), "; Data Home:", DATA_HOME)

from datetime import datetime
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import xlrd
import matplotlib.pyplot as plt
%matplotlib inline

from sqlalchemy import create_engine
engine = create_engine('postgresql://datauser:1234@172.18.0.1:5432/stockdb', echo=False)

os.chdir("/home/jovyan/dataset/Datastream")

Experiment Home:  /home/jovyan/dataset/Datastream ; Data Home: /home/jovyan/dataset

In [2]:
attr = [f for f in os.listdir() if f.endswith('.csv')]
files = attr

data = {}

# Load every thing!!!
for f in attr:
    df_attr = pd.read_csv(f, index_col='Date')
    print("opening %s " % f)
    df_attr.index = pd.to_datetime(df_attr.index)
    data[f] = df_attr

opening 21_DWTA.csv
opening 3_MV.csv
opening 9_VO.csv
opening 4_P.csv
opening 14_UVO.csv
opening 10_UPO.csv
opening 1_DY.csv
opening 2_EPS.csv
opening 20_NOSH.csv
opening 17_PI.csv
opening 12_UPH.csv
opening 8_VA.csv
opening 13_UPL.csv
opening 18_RI.csv
opening 19_MTBV.csv
opening 15_PTBV.csv
opening 11_UP.csv

In [3]:
data['15_PTBV.csv']['7UP']

Date
2019-01-01       0.92
2019-01-02       0.90
2019-01-03       0.90
2019-01-04       0.90
2019-01-07       0.88
               ...
2014-12-25    1866.57
2014-12-26    1876.14
2014-12-29    1770.49
2014-12-30    1737.70
2014-12-31    1737.70
Name: 7UP, Length: 1566, dtype: float64

In [4]:

data['18_RI.csv']['7UP']

Date
2019-01-01     22.06
2019-01-02     21.56
2019-01-03     21.56
2019-01-04     21.56
2019-01-07     21.06
               ...
2014-12-25    161.38
2014-12-26    162.20
2014-12-29    153.07
2014-12-30    150.23
2014-12-31    150.23
Name: 7UP, Length: 1566, dtype: float64

In [5]:
set100 = """GFPT
STA
CBG
CPF
ICHI
KTIS
M
MALEE
MINT
SAPPE
TU
TVO
BAY
BBL
KBANK
KKP
KTB
LHFG
SCB
TCAP
TISCO
TMB
AEONTS
ASP
JMT
KTC
MTC
SAWAD
THANI
BLA
THREL
PTL
IVL
PTTGC
EPG
SCC
SCCC
TASCO
TPIPL
VNG
BJCHI
CK
ITD
STEC
STPI
TRC
TTCL
UNIQ
AMATA
ANAN
AP
BLAND
CPN
LH
LPN
MBK
PSH
QH
S
SF
SIRI
SPALI
U
UV
WHA
BANPU
BCP
CKP
DEMCO
EA
EGCO
ESSO
GUNKUL
IRPC
PTG
PTT
PTTEP
RATCH
SGP
SPCG
SUPER
TOP
TTW
BEAUTY
BIG
BJC
CPALL
GLOBAL
HMPRO
KAMART
LOXLEY
MC
MEGA
RS
BCH
BDMS
BH
CHG
VIBHA
BEC
MAJOR
MONO
VGI
WORK
CENTEL
ERW
AAV
AOT
BA
BTS
NOK
PSL
THAI
TTA
DELTA
HANA
KCE
SVI
ADVANC
DTAC
INTUCH
JAS
JMART
SAMART
SAMTEL
THCOM
""" # From FinalList in Data.xlsx


set100 = set100.split()

In [6]:
 data['21_DWTA.csv'][set100]  # Choosing the SET 100 stocks

,GFPT,STA,CBG,CPF,ICHI,KTIS,M,MALEE,MINT,SAPPE,...,KCE,SVI,ADVANC,DTAC,INTUCH,JAS,JMART,SAMART,SAMTEL,THCOM
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,12.0,14.10,30.75,24.60,2.98,5.95,74.75,8.00,33.49,13.70,...,26.25,4.88,172.5,43.25,47.75,4.46,3.84,6.35,7.40,6.05
2019-01-02,12.5,13.80,31.25,24.80,2.98,5.55,74.75,7.95,33.24,14.00,...,26.00,4.88,173.5,43.50,48.25,4.48,3.92,6.45,7.25,6.05
2019-01-03,12.6,14.50,30.75,25.00,2.96,5.55,74.75,8.20,33.24,14.00,...,25.75,4.86,172.5,43.50,47.75,4.52,3.94,6.45,7.45,6.00
2019-01-04,12.0,14.40,33.00,25.00,2.94,5.45,73.75,8.30,33.49,14.20,...,25.25,4.74,177.0,44.25,48.75,4.54,3.94,6.40,7.40,5.95
2019-01-07,12.3,14.40,33.75,25.25,2.98,5.45,74.25,8.65,34.23,14.80,...,26.75,4.84,177.0,45.00,49.00,4.70,4.02,6.40,7.20,6.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-25,18.3,12.33,32.75,27.25,20.00,11.10,57.50,13.75,30.00,34.75,...,17.62,4.06,248.0,97.50,78.25,6.58,5.46,39.00,21.60,35.50
2014-12-26,18.1,12.33,33.25,27.75,20.10,11.50,57.75,13.87,29.55,33.75,...,17.12,4.08,251.0,97.00,79.00,6.67,5.46,38.25,21.80,35.25
2014-12-29,18.1,12.33,33.00,27.50,20.00,11.70,56.25,13.75,28.65,33.50,...,16.50,4.00,249.0,96.75,78.25,6.44,5.35,39.00,22.20,34.75
2014-12-30,17.8,12.33,33.50,27.25,20.00,11.60,58.50,13.75,29.10,33.00,...,17.12,4.00,251.0,96.50,78.75,6.62,5.41,39.25,22.70,34.75
2014-12-31,17.8,12.33,33.50,27.25,20.00,11.60,58.50,13.75,29.10,33.00,...,17.12,4.00,251.0,96.50,78.75,6.62,5.41,39.25,22.70,34.75

In [7]:
# data['21_DWTA.csv']['2014-12-28':'2014-12-29']

tmp = data['21_DWTA.csv']['2015-01':'2019-12'][set100]  # Choosing just the SET 100 stocks
tmp

,GFPT,STA,CBG,CPF,ICHI,KTIS,M,MALEE,MINT,SAPPE,...,KCE,SVI,ADVANC,DTAC,INTUCH,JAS,JMART,SAMART,SAMTEL,THCOM
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,12.00,14.10,30.75,24.60,2.98,5.95,74.75,8.00,33.49,13.7,...,26.25,4.88,172.5,43.25,47.75,4.46,3.84,6.35,7.40,6.05
2019-01-02,12.50,13.80,31.25,24.80,2.98,5.55,74.75,7.95,33.24,14.0,...,26.00,4.88,173.5,43.50,48.25,4.48,3.92,6.45,7.25,6.05
2019-01-03,12.60,14.50,30.75,25.00,2.96,5.55,74.75,8.20,33.24,14.0,...,25.75,4.86,172.5,43.50,47.75,4.52,3.94,6.45,7.45,6.00
2019-01-04,12.00,14.40,33.00,25.00,2.94,5.45,73.75,8.30,33.49,14.2,...,25.25,4.74,177.0,44.25,48.75,4.54,3.94,6.40,7.40,5.95
2019-01-07,12.30,14.40,33.75,25.25,2.98,5.45,74.25,8.65,34.23,14.8,...,26.75,4.84,177.0,45.00,49.00,4.70,4.02,6.40,7.20,6.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-25,9.80,9.73,34.25,17.50,12.00,7.45,58.25,13.87,35.21,18.0,...,32.50,4.86,155.5,30.75,53.25,3.30,4.43,15.20,14.80,28.50
2015-12-28,9.75,9.83,34.00,17.50,11.90,7.50,56.75,13.75,34.97,17.7,...,33.50,4.84,154.0,30.75,53.50,3.40,4.43,15.40,14.70,29.25
2015-12-29,9.85,9.73,34.00,18.10,12.00,7.80,57.00,13.75,35.46,17.9,...,34.25,4.88,154.0,31.00,52.50,3.26,4.40,15.60,14.80,29.00
2015-12-30,9.90,9.73,34.50,18.30,12.30,8.00,58.00,14.25,35.71,17.6,...,35.00,4.92,152.0,30.25,52.00,3.24,4.40,15.50,14.70,29.00
2015-12-31,9.90,9.73,34.50,18.30,12.30,8.00,58.00,14.25,35.71,17.6,...,35.00,4.92,152.0,30.25,52.00,3.24,4.40,15.50,14.70,29.00

In [16]:
df = pd.DataFrame()
ds = {}

# Pick date
# date_range = '2015-03-01':'2015-03-02'
for attr in data.keys():
    try:
        ds[attr] =  data[attr]['2015-03-01':'2015-03-02'][set100].T
        col = attr.replace('.csv','')
        col = col.split('_')[1]
        df[col] = data[attr]['2015-03-01':'2015-03-02'][set100].T['2015-03-02']
    except:
        print("Error %s " % attr)  # Error 4_P.csv 
ds

Error 4_P.csv
Error 19_MTBV.csv
Error 15_PTBV.csv

{'21_DWTA.csv': Date    2015-03-02
 GFPT         14.00
 STA          13.01
 CBG          36.50
 CPF          23.10
 ICHI         23.20
 ...            ...
 JAS           8.02
 JMART         6.96
 SAMART       35.75
 SAMTEL       24.90
 THCOM        34.75

 [126 rows x 1 columns], '3_MV.csv': Date    2015-03-02
 GFPT      17553.49
 STA       17280.01
 CBG       36500.00
 CPF      178861.90
 ICHI      30159.99
 ...            ...
 JAS       63522.77
 JMART      6818.02
 SAMART    35982.51
 SAMTEL    15388.20
 THCOM     38083.81

 [126 rows x 1 columns], '9_VO.csv': Date    2015-03-02
 GFPT        4595.7
 STA         3641.0
 CBG        16559.2
 CPF        51044.2
 ICHI        6508.0
 ...            ...
 JAS       276595.9
 JMART      11466.3
 SAMART      8219.0
 SAMTEL       973.1
 THCOM       3884.3

 [126 rows x 1 columns], '14_UVO.csv': Date    2015-03-02
 GFPT        4595.7
 STA         3508.3
 CBG        16559.2
 CPF        51044.2
 ICHI        6508.0
 ...            ...
 JAS       249226.5
 JMART       6139.1
 SAMART      8219.0
 SAMTEL       973.1
 THCOM       3884.3

 [126 rows x 1 columns], '10_UPO.csv': Date    2015-03-02
 GFPT         13.60
 STA          13.80
 CBG          34.75
 CPF          23.90
 ICHI         22.20
 ...            ...
 JAS           9.00
 JMART        13.00
 SAMART       37.75
 SAMTEL       25.00
 THCOM        35.25

 [126 rows x 1 columns], '1_DY.csv': Date    2015-03-02
 GFPT          2.86
 STA           4.81
 CBG           1.64
 CPF           3.25
 ICHI          4.31
 ...            ...
 JAS           1.69
 JMART         3.69
 SAMART        2.43
 SAMTEL        2.61
 THCOM         1.87

 [126 rows x 1 columns], '2_EPS.csv': Date    2015-03-02
 GFPT          1.42
 STA           0.78
 CBG           1.22
 CPF           1.43
 ICHI          0.89
 ...            ...
 JAS           0.42
 JMART         0.11
 SAMART        1.48
 SAMTEL        1.14
 THCOM         1.46

 [126 rows x 1 columns], '20_NOSH.csv': Date    2015-03-02
 GFPT     1253820.0
 STA      1280000.0
 CBG      1000000.0
 CPF      7742940.0
 ICHI     1300000.0
 ...            ...
 JAS      7137392.0
 JMART     524463.0
 SAMART   1006504.0
 SAMTEL    618000.0
 THCOM    1095936.0

 [126 rows x 1 columns], '17_PI.csv': Date    2015-03-02
 GFPT         235.1
 STA          570.0
 CBG          112.3
 CPF         2000.9
 ICHI         143.2
 ...            ...
 JAS          163.2
 JMART        905.4
 SAMART        79.1
 SAMTEL       264.9
 THCOM         73.4

 [126 rows x 1 columns], '12_UPH.csv': Date    2015-03-02
 GFPT         14.00
 STA          13.80
 CBG          36.75
 CPF          24.00
 ICHI         23.20
 ...            ...
 JAS           9.10
 JMART        13.20
 SAMART       37.75
 SAMTEL       25.00
 THCOM        35.25

 [126 rows x 1 columns], '8_VA.csv': Date    2015-03-02
 GFPT       63623.2
 STA        47098.6
 CBG       596821.4
 CPF      1200726.0
 ICHI      147915.4
 ...            ...
 JAS      2228009.0
 JMART      79842.3
 SAMART    297000.9
 SAMTEL     24185.8
 THCOM     134574.3

 [126 rows x 1 columns], '13_UPL.csv': Date    2015-03-02
 GFPT         13.50
 STA          13.10
 CBG          34.50
 CPF          23.10
 ICHI         22.00
 ...            ...
 JAS           8.85
 JMART        12.80
 SAMART       35.00
 SAMTEL       24.70
 THCOM        34.25

 [126 rows x 1 columns], '18_RI.csv': Date    2015-03-02
 GFPT        629.48
 STA        1902.58
 CBG         112.31
 CPF        8570.50
 ICHI        145.79
 ...            ...
 JAS         234.29
 JMART      1289.50
 SAMART      128.42
 SAMTEL      414.53
 THCOM        78.26

 [126 rows x 1 columns], '11_UP.csv': Date    2015-03-02
 GFPT         14.00
 STA          13.50
 CBG          36.50
 CPF          23.10
 ICHI         23.20
 ...            ...
 JAS           8.90
 JMART        13.00
 SAMART       35.75
 SAMTEL       24.90
 THCOM        34.75

 [126 rows x 1 columns]}

In [17]:
## Choose Date - stock and feature

In [18]:
df

,DWTA,MV,VO,UVO,UPO,DY,EPS,NOSH,PI,UPH,VA,UPL,RI,UP
GFPT,14.00,17553.49,4595.7,4595.7,13.60,2.86,1.42,1253820.0,235.1,14.00,63623.2,13.50,629.48,14.00
STA,13.01,17280.01,3641.0,3508.3,13.80,4.81,0.78,1280000.0,570.0,13.80,47098.6,13.10,1902.58,13.50
CBG,36.50,36500.00,16559.2,16559.2,34.75,1.64,1.22,1000000.0,112.3,36.75,596821.4,34.50,112.31,36.50
CPF,23.10,178861.90,51044.2,51044.2,23.90,3.25,1.43,7742940.0,2000.9,24.00,1200726.0,23.10,8570.50,23.10
ICHI,23.20,30159.99,6508.0,6508.0,22.20,4.31,0.89,1300000.0,143.2,23.20,147915.4,22.00,145.79,23.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
JAS,8.02,63522.77,276595.9,249226.5,9.00,1.69,0.42,7137392.0,163.2,9.10,2228009.0,8.85,234.29,8.90
JMART,6.96,6818.02,11466.3,6139.1,13.00,3.69,0.11,524463.0,905.4,13.20,79842.3,12.80,1289.50,13.00
SAMART,35.75,35982.51,8219.0,8219.0,37.75,2.43,1.48,1006504.0,79.1,37.75,297000.9,35.00,128.42,35.75
SAMTEL,24.90,15388.20,973.1,973.1,25.00,2.61,1.14,618000.0,264.9,25.00,24185.8,24.70,414.53,24.90
THCOM,34.75,38083.81,3884.3,3884.3,35.25,1.87,1.46,1095936.0,73.4,35.25,134574.3,34.25,78.26,34.75