Use this notebook to produce table and figure for the Research Data section of the write-up.

Data file downloaded from Datastream is SET100_Data.xlsx  



Table 1. List of 160 stocks  
Table 2. Description of historical data attributes  
Table 3. Summary statistics of technical indicator values  
Table 4. List of dates the SET100 index were updated and the constituent list published  
Table 5. List of stocks added and removed at each index update.  
Table 6. Description of stock tickers that no longer exists.  
Table 7. Observation count of each stock time series.

In [1]:
import sys, os, os.path
if not 'EXPERIMENT_HOME' in os.environ: # Configure local paths if not already defined
    ML_HOME = os.path.abspath(os.path.join("/home/jovyan", "ml_home")) # ML workspace
    sys.path.insert(0, ML_HOME) # Add to path so can load our library
    EXPERIMENT_HOME = os.path.abspath(os.path.join(ML_HOME, "..")) # Experiment workspace
from experiment import init_experiment
db_engine = init_experiment(EXPERIMENT_HOME)

Experiment Home:  /home/jovyan ; Data Home: /home/jovyan/dataset ;
Database: Engine(postgresql://datauser:***@172.18.0.1:5432/stockdb)

In [2]:
from datetime import datetime
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import xlrd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html
# Get worksheet names

# workbook = pd.read_excel('SET100_Data.xlsm')
# workbook.keys()

os.chdir("/home/jovyan/dataset/Datastream")

In [4]:


# First sheet list all companies
# VO sheet contains VO data

# Row 3  LOC;  Row 4  Datatype  Row 5 Name

sheets = pd.read_excel('SET100_Data.xlsm', sheet_name=[0,'VO','MV','P','MACD'])

In [5]:
sheets.keys()

odict_keys([0, 'VO', 'MV', 'P', 'MACD'])

# Stock Dimension   set100_company_dim

In [9]:
# List of ticker symbols
symbols = list(sheets[0]['Symbol In SET100 Constituent'].values)

# Data frame
df_tickers = sheets[0][['Symbol In SET100 Constituent', 'Company Name', 'Datastream Mnemonic', 'Remark']]
df_tickers # All 163 stock symbols

,Symbol In SET100 Constituent,Company Name,Datastream Mnemonic,Remark
0,AAV,ASIA AVIATION,Q:AAVP,NaN
1,ADVANC,ADVANCED INFO SER.,Q:AIS,NaN
2,AEONTS,AE.THANA SINSAP (THAI.),Q:ATS,NaN
3,AMATA,AMATA,Q:PAKO,NaN
4,ANAN,ANANDA DEVELOPMENT,Q:ADTP,NaN
...,...,...,...,...
158,VIBHA,VIBHAVADI MEDICAL,Q:VIBH,NaN
159,VNG,VANACHAI GROUP,Q:VANA,NaN
160,WHA,WHA,Q:WHAP,NaN
161,WHAUP,WHA UTILITIES AND POWER,Q:WHAU,NaN
162,WORK,WORKPOINT ENTERTAINMENT,Q:WORK,NaN

In [10]:
df_tickers[df_tickers["Symbol In SET100 Constituent"]=="SIM"]

,Symbol In SET100 Constituent,Company Name,Datastream Mnemonic,Remark
122,SIM,SAMART DIGITAL ORS,Q:SIMB,NEW SYMBOL (SDC)

In [11]:
# The 160 companies
df_companies = df_tickers[df_tickers['Datastream Mnemonic'].notnull()]
df_companies

,Symbol In SET100 Constituent,Company Name,Datastream Mnemonic,Remark
0,AAV,ASIA AVIATION,Q:AAVP,NaN
1,ADVANC,ADVANCED INFO SER.,Q:AIS,NaN
2,AEONTS,AE.THANA SINSAP (THAI.),Q:ATS,NaN
3,AMATA,AMATA,Q:PAKO,NaN
4,ANAN,ANANDA DEVELOPMENT,Q:ADTP,NaN
...,...,...,...,...
158,VIBHA,VIBHAVADI MEDICAL,Q:VIBH,NaN
159,VNG,VANACHAI GROUP,Q:VANA,NaN
160,WHA,WHA,Q:WHAP,NaN
161,WHAUP,WHA UTILITIES AND POWER,Q:WHAU,NaN
162,WORK,WORKPOINT ENTERTAINMENT,Q:WORK,NaN

In [12]:
# The SET100 companies with the sector
sector_lookup = os.path.join(os.environ['EXPERIMENT_HOME'],"""1.0 Data Acquisition/stock_ticker.csv""")
sector_lookup = pd.read_csv(sector_lookup)

set100_companies = df_companies[['Symbol In SET100 Constituent', 'Company Name', 'Datastream Mnemonic']]
set100_companies

# Join
df = set100_companies.merge(sector_lookup, left_on='Symbol In SET100 Constituent', right_on='symbol')
df

,Symbol In SET100 Constituent,Company Name,Datastream Mnemonic,Unnamed: 0,symbol,exchange,industry,sector,name
0,AAV,ASIA AVIATION,Q:AAVP,AAV,AAV,SET,Services,Transportation & Logistics,ASIA AVIATION PUBLIC COMPANY LIMITED
1,ADVANC,ADVANCED INFO SER.,Q:AIS,ADVANC,ADVANC,SET,Technology,Information & Communication Technology,ADVANCED INFO SERVICE PUBLIC COMPANY LIMITED
2,AEONTS,AE.THANA SINSAP (THAI.),Q:ATS,AEONTS,AEONTS,SET,Financials,Finance & Securities,AEON THANA SINSAP (THAILAND) PUBLIC COMPANY LI...
3,AMATA,AMATA,Q:PAKO,AMATA,AMATA,SET,Property & Construction,Property Development,AMATA CORPORATION PUBLIC COMPANY LIMITED
4,ANAN,ANANDA DEVELOPMENT,Q:ADTP,ANAN,ANAN,SET,Property & Construction,Property Development,ANANDA DEVELOPMENT PUBLIC COMPANY LIMITED
...,...,...,...,...,...,...,...,...,...
155,VIBHA,VIBHAVADI MEDICAL,Q:VIBH,VIBHA,VIBHA,SET,Services,Health Care Services,VIBHAVADI MEDICAL CENTER PUBLIC COMPANY LIMITED
156,VNG,VANACHAI GROUP,Q:VANA,VNG,VNG,SET,Property & Construction,Construction Materials,VANACHAI GROUP PUBLIC COMPANY LIMITED
157,WHA,WHA,Q:WHAP,WHA,WHA,SET,Property & Construction,Property Development,WHA CORPORATION PUBLIC COMPANY LIMITED
158,WHAUP,WHA UTILITIES AND POWER,Q:WHAU,WHAUP,WHAUP,SET,Resources,Energy & Utilities,WHA UTILITIES AND POWER PUBLIC COMPANY LIMITED
159,WORK,WORKPOINT ENTERTAINMENT,Q:WORK,WORK,WORK,SET,Services,Media & Publishing,WORKPOINT ENTERTAINMENT PUBLIC COMPANY LIMITED

In [14]:
df['localCode'] = 'TH:'+df['symbol']
df

,Symbol In SET100 Constituent,Company Name,Datastream Mnemonic,Unnamed: 0,symbol,exchange,industry,sector,name,localCode
0,AAV,ASIA AVIATION,Q:AAVP,AAV,AAV,SET,Services,Transportation & Logistics,ASIA AVIATION PUBLIC COMPANY LIMITED,TH:AAV
1,ADVANC,ADVANCED INFO SER.,Q:AIS,ADVANC,ADVANC,SET,Technology,Information & Communication Technology,ADVANCED INFO SERVICE PUBLIC COMPANY LIMITED,TH:ADVANC
2,AEONTS,AE.THANA SINSAP (THAI.),Q:ATS,AEONTS,AEONTS,SET,Financials,Finance & Securities,AEON THANA SINSAP (THAILAND) PUBLIC COMPANY LI...,TH:AEONTS
3,AMATA,AMATA,Q:PAKO,AMATA,AMATA,SET,Property & Construction,Property Development,AMATA CORPORATION PUBLIC COMPANY LIMITED,TH:AMATA
4,ANAN,ANANDA DEVELOPMENT,Q:ADTP,ANAN,ANAN,SET,Property & Construction,Property Development,ANANDA DEVELOPMENT PUBLIC COMPANY LIMITED,TH:ANAN
...,...,...,...,...,...,...,...,...,...,...
155,VIBHA,VIBHAVADI MEDICAL,Q:VIBH,VIBHA,VIBHA,SET,Services,Health Care Services,VIBHAVADI MEDICAL CENTER PUBLIC COMPANY LIMITED,TH:VIBHA
156,VNG,VANACHAI GROUP,Q:VANA,VNG,VNG,SET,Property & Construction,Construction Materials,VANACHAI GROUP PUBLIC COMPANY LIMITED,TH:VNG
157,WHA,WHA,Q:WHAP,WHA,WHA,SET,Property & Construction,Property Development,WHA CORPORATION PUBLIC COMPANY LIMITED,TH:WHA
158,WHAUP,WHA UTILITIES AND POWER,Q:WHAU,WHAUP,WHAUP,SET,Resources,Energy & Utilities,WHA UTILITIES AND POWER PUBLIC COMPANY LIMITED,TH:WHAUP
159,WORK,WORKPOINT ENTERTAINMENT,Q:WORK,WORK,WORK,SET,Services,Media & Publishing,WORKPOINT ENTERTAINMENT PUBLIC COMPANY LIMITED,TH:WORK

In [ ]:
os.chdir("/home/jovyan/dataset/set100.data")
df.to_csv('_directory.csv') # overwrite

In [21]:
df = df.rename(columns={'Company Name':'company_name',
                   'Datastream Mnemonic': 'datastream_mnemonic',
                   'localCode':'local_code',
                   'name':'stock'
                  })
df = df[['stock','company_name','datastream_mnemonic','local_code','symbol','exchange','industry','sector']]
df.to_sql('set100_company_dim', con=db_engine, if_exists='replace')

In [ ]:
VO = sheets['VO']

localCode = VO[2:3]  # Stock symbol. Subtract first three chars: "TH:"
companyName = VO[4:5]  # Name
bDate = VO[5:6] # dataAvailableFrom
dbEntityCode = VO[6:7] # internal database code 
df_VO = VO[7:]   # Data
# df_VO.columns = companyName.values[0] # Set local code as column header
df_VO.columns = list(map(lambda n: n[3:],localCode.values[0])) # Convert local code to symbol and use as column header
df_VO = df_VO.set_index(df_VO.columns[0]) # Make index on date column

# Fact.VO :  Measure=VO  Key=Company,Date

In [ ]:
df_VO

In [ ]:
# Pivot table: Value=Observations; the number of data observations for the stock.
ptable = df.pivot_table(values='Observations', index='Date', columns=['Industry', 'Sector', 'Ticker'])
ptable.tail()

In [ ]:
# Observations count at last date of the dataset.
table_7 = ptable['2019-12-31':].T
table_7

In [ ]:
table_7.to_csv('table_7.csv')

In [ ]:

# table = df.pivot(columns='Ticker')['Observations'] # Pivot table
# table

# table_7.pivot()['Ticker']

In [ ]:
# output = os.path.join(os.environ['EXPERIMENT_HOME'],'tables','table_7')
# table_7.to_csv(output)

# table_7[['Ticker']].index
table_7.columns

In [ ]:
# Get ticker from multiindex.
# tickers = np.array([i[2] for i in table_7.index.values])

fig, ax = plt.subplots(figsize=(8,18))
table_7.plot.barh(ax=ax, legend=False) # , xticks=tickers to change ticker

ax.tick_params(axis='y', which='major', labelsize=10)
ax.tick_params(axis='y', which='minor', labelsize=8)
plt.xlabel('Observations Count (Closing Price)')
plt.title("SET100 Stocks: Closing price observations during 2015-2019")