Use this notebook to produce table and figure for the Research Data section of the write-up.

Data file downloaded from Datastream is SET100_Data.xlsx  

See StockDatabase_Read om 2.0.


Table 1. List of 160 stocks  
Table 2. Description of historical data attributes  
Table 3. Summary statistics of technical indicator values  
Table 4. List of dates the SET100 index was updated and the constituent list published  
Table 5. List of stocks added and removed at each index update.  
Table 6. Description of stock tickers that no longer exist.  
Table 7. Observation count of each stock time series.

In [ ]:
from experiment import init_experiment
db_engine = init_experiment(EXPERIMENT_HOME)

In [ ]:
# Common import packages
from experiment import os, np, pd, pdr, plt, datetime
import datetime as dt
import xlrd
%matplotlib inline

## Universe of Companies

The information about companies are in the first sheet. This is loaded into data frame and is inserted into table.

The file SET100_Data.xlsm is the master list of all companies in the universe.

In [ ]:

# First sheet list all companies
# VO sheet contains VO data

# Row 3  LOC;  Row 4  Datatype  Row 5 Name
os.chdir(os.environ['DATA_HOME'] + '/Datastream')

sheets = pd.read_excel('SET100_Data.xlsm', sheet_name=[0,'VO','MV','P','MACD']) 
sheets.keys()

# Stock Dimension   set100_company_dim

In [ ]:
# List of ticker symbols
symbols = list(sheets[0]['Symbol In SET100 Constituent'].values)

# Data frame
df_tickers = sheets[0][['Symbol In SET100 Constituent', 'Company Name', 'Datastream Mnemonic', 'Remark']]
df_tickers # All 163 stock symbols

In [ ]:
df_tickers[df_tickers["Symbol In SET100 Constituent"]=="SIM"]

In [ ]:
# The 160 companies
df_companies = df_tickers[df_tickers['Datastream Mnemonic'].notnull()]
df_companies

## Company Directory with Sector

In [ ]:
# The SET100 companies with the sector
sector_lookup = os.path.join(os.environ['EXPERIMENT_HOME'],"""1.0 Data Acquisition/stock_ticker.csv""")
sector_lookup = pd.read_csv(sector_lookup)

set100_companies = df_companies[['Symbol In SET100 Constituent', 'Company Name', 'Datastream Mnemonic']]
set100_companies

# Join
df = set100_companies.merge(sector_lookup, left_on='Symbol In SET100 Constituent', right_on='symbol')
df['localCode'] = 'TH:'+df['symbol']
df

In [ ]:
os.chdir(os.environ['DATA_HOME'] + "/set100.data")
df.to_csv('_directory.csv') # overwrite

# Extract Volume Data

In [ ]:
VO = sheets['VO']

# Headers
localCode = VO[2:3]  # Stock symbol. Subtract first three chars: "TH:"
companyName = VO[4:5]  # Name
bDate = VO[5:6] # dataAvailableFrom
dbEntityCode = VO[6:7] # internal dataase code 

# Index column, use to index rows
rowIdx = VO[7:]['Start'].rename('Date') # This is the date data colume. Name the column 'Date'

# Data cells
df_VO = VO[7:]   # Data

# df_VO.columns = companyName.values[0] # Set local code as column header
df_VO.columns = list(map(lambda n: n[3:],localCode.values[0])) # Convert local code to symbol and use as column header
df_VO = df_VO.set_index(rowIdx) # Make index on date column

## Fact.VO :  Measure=VO  Key=Company,Date

In [ ]:
df_VO

In [ ]:
# Cannot do pivot table in this structure.

# Pivot table: Value=Sector; the number of data observations for the stock.
# ptable = df.pivot_table(values='sector', index='symbol', columns=['industry', 'localCode'])
# ptable.tail()

# needs numeric value

### Table 7:

In [ ]:
# Pivot table: Value=Observations; the number of data observations for the stock.
# ptable = df.pivot_table(values='Observations', index='Date', columns=['Industry', 'Sector', 'Ticker'])
# ptable.tail()

In [ ]:
# Observations count at last date of the dataset.
# table_7 = ptable['2019-12-31':].T
# table_7

In [ ]:
# table_7.to_csv('table_7.csv')

In [ ]:

# table = df.pivot(columns='Ticker')['Observations'] # Pivot table
# table

# table_7.pivot()['Ticker']

In [ ]:
# output = os.path.join(os.environ['EXPERIMENT_HOME'],'tables','table_7')
# table_7.to_csv(output)

# table_7[['Ticker']].index
# table_7.columns

# Get ticker from multiindex.
# tickers = np.array([i[2] for i in table_7.index.values])

fig, ax = plt.subplots(figsize=(8,18))
table_7.plot.barh(ax=ax, legend=False) # , xticks=tickers to change ticker

ax.tick_params(axis='y', which='major', labelsize=10)
ax.tick_params(axis='y', which='minor', labelsize=8)
plt.xlabel('Observations Count (Closing Price)')
plt.title("SET100 Stocks: Closing price observations during 2015-2019")

# Show Database Tables

In [ ]:
os.environ['DATA_HOME']

In [ ]:
from dataset import get_dataset_db
dataset_db=get_dataset_db()

sql = """
SELECT 
    name
FROM 
    sqlite_master 
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';
"""
tables = pd.read_sql(sql, dataset_db)
tables

# Data Export

Export: stockdb  
https://github.com/chayapan/thesis/blob/master/dataset/stockdb.sql.gz

To:  
1. fourStock_OHLC.csv  and then overwrite fourStock_prices.csv
2. allStocks_OHLC.csv  and then overwrite allStocks_prices.csv

In [ ]:

# engine = create_engine('postgresql://datauser:1234@172.18.0.1:5432/stockdb', echo=False)

from sqlalchemy import create_engine
engine = create_engine('postgresql://optjar:1nv3NT0ry@10.30.0.2:5432/stockdb', echo=False) # TODO: remove this information before commit to Git.

dataset_db = engine

# Price

## Select 4 stocks

sqlite table:  set100_daily_fact  
postgreql table: set100_daily_facts

In [ ]:

# SQL for SQLite3
sql = """SELECT f.date, f.stock, f."P" FROM set100_daily_facts f
WHERE f.stock IN ('TH:SCB','TH:KBANK','TH:PTT','TH:TOP');"""


# SQL for PostgreSQL
sql = """SELECT f.date, f.stock, f."P" FROM set100_daily_facts f
WHERE f.stock IN ('TH:SCB','TH:KBANK','TH:PTT','TH:TOP');"""
df_fact = pd.read_sql(sql, dataset_db)
df_fact

In [ ]:
# Select by date
sql = """SELECT f.date, f.stock, f.P FROM set100_daily_fact f
-- AND f.stock IN ('TH:SCB','TH:KBANK','TH:PTT','TH:TOP')
;"""
df_fact = pd.read_sql(sql, dataset_db)
df_fact

In [ ]:
df_companies

In [ ]:
sql = """
SELECT *
FROM set100_daily_fact;
"""
pd.read_sql(sql, dataset_db)

In [ ]:
sql = """
SELECT *
FROM set100_company_dim;
"""
dim_company = pd.read_sql(sql, dataset_db)
dim_company

In [ ]:
sql = """
SELECT *
FROM daily_price;
"""
pd.read_sql(sql, dataset_db)

In [ ]:
sql = """
SELECT *
FROM set100_time_dim;
"""
pd.read_sql(sql, dataset_db)

Select data set

joining time dimension with company dimention to fact

index column  dayofyear

In [ ]:
sql = """
SELECT t.dayofyear, f.stock, f.P
FROM 
set100_time_dim AS t 
JOIN
set100_daily_fact AS f
ON t.dt = f.date;
"""
pd.read_sql(sql, dataset_db)

In [ ]:
fact = pd.read_csv(os.environ['DATA_HOME'] + '/Datastream/set100_daily_facts.csv.gz')
fact.to_sql('daily_price', con=dataset_db, if_exists='replace')

In [ ]:
dim_company

In [ ]:
sql = """
SELECT c.symbol, f.stock, f.date, f.P price
FROM 
set100_company_dim AS c 
JOIN
daily_price AS f
ON c.company_name = f.stock;
"""
df_price = pd.read_sql(sql, dataset_db)
df_price

In [ ]:
df_price[['symbol', 'price']]

In [ ]:
# sns.pairplot(fact[['stock','MACD']], hue="stock")

df_price

In [ ]:
stocks = ('SCB','KBANK','PTT','TOP')

series = []
for s in stocks:
    s1 = df_price[df_price['stock']==s][['date','price']]
    s1 = s1.set_index('date').rename(columns={'price':s})
    series.append(s1)
df = pd.concat(series, axis=1) # Make data frame with each stock a column
df

In [ ]:
df_price[df_price['stock'] == 'TOP']

In [ ]:
dim_company[dim_company['symbol']=='KBANK']

In [ ]:
df_price[df_price['stock']=='KBANK']

In [ ]:
table = "set100_daily_facts"  ## postgreSQL
stock = """'KASI%'"""

table = "daily_price"  ## sqlite3
stock = """'TH:KB%'"""


sql = """
SELECT *
FROM {table}
WHERE stock LIKE {stock};
""".format(table=table, stock=stock)

print(sql)
pd.read_sql(sql, dataset_db)

# Query Each Stock Series

In [ ]:
# 1. Get Unique Stock

sql = """
SELECT DISTINCT(c.symbol) FROM set100_company_dim AS c;
"""
df_symbols = pd.read_sql(sql, dataset_db)
df_symbols


# 2. Each Stock

def get_stock_price(symbol):
    """Required: dataset_db - the connection to database instance.
        Returns pandas DataFrame. """
    table = "" # daily_price for sqlite3
    table = "set100_daily_facts" # for postgresql
    sql = """
    SELECT c.symbol, f.stock, f.date, f."P" price
    FROM 
    set100_company_dim AS c 
    JOIN
    %s AS f
    ON c.company_name = f.stock
    WHERE c.symbol='%s';
    """ % (table, symbol)
    df_price = pd.read_sql(sql, dataset_db)
    df_price = df_price.fillna(0) # handle missing value by filing with zero
    return df_price[['date','price']].set_index('date').rename(columns={'price':symbol})

s1 = get_stock_price('KBANK') # For sqlite3
s1

# Four Stock

In [ ]:
s1 = get_stock_price('SCB')
s2 = get_stock_price('KBANK')
s3 = get_stock_price('TOP')
s4 = get_stock_price('PTT')
series = [s1, s2, s3, s4]

s1.plot(ax=plt.gca())
s2.plot(ax=plt.gca())
s3.plot(ax=plt.gca())
s4.plot(ax=plt.gca())
plt.title('Sample four stocks')

df1 = pd.concat(series, axis=1) # Make data frame with each stock a column
df1

In [ ]:
df1.to_csv('fourStock_prices.csv')

# All Stocks

In [ ]:
symbols = list(df_symbols['symbol'].values)
series = []
for s in symbols:
    p = get_stock_price(s)
    if len(p) > 100: # CHECK
        series.append(p)
        
    

df2 = pd.concat(series, axis=1) # Make data frame with each stock a column
df2

In [ ]:
for s in series:
    try:
        s.plot(ax=plt.gca())
    except:
        print("Error for %s " % str(s))

In [ ]:
df2.to_csv('allStocks_price.csv')

In [ ]:
import seaborn as sns
sns.set_theme(style="ticks")
sns.pairplot(fact[['stock','P']], hue="stock")

In [ ]:
Price distribution of the stock dataset. Color denotes each stock.