# Volatility

https://www.investopedia.com/terms/v/volatility.asp

Volatility calculates deviation from mean. It is calculated from price series. It is the price standard deviation.

In [1]:
import numpy as np
from learn.concept import volatility

In [2]:
x = np.array([14,16,10,14,12,13,12])

volatility.stddev_5d(x)

2.04939015319192

In [3]:
volatility.stddev_ndays(x, n=3)

2.516611478423583

In [4]:
volatility.stddev_ndays(x, n=5)

2.04939015319192

In [5]:
from experiment import init_experiment

db_engine = init_experiment()

Experiment Home:  /opt/workspace/dataset ; Data Home: /opt/workspace/dataset/dataset ;
Database: Engine(postgresql://datauser:***@172.18.0.1:5432/stockdb)

In [6]:
from data.snapshot import set100, pd

In [11]:

sql = """SELECT f.date, f.stock, f."P" FROM set100_daily_facts f
WHERE f.date BETWEEN '2015-01-01' AND '2019-12-31'
;"""
df_fact = pd.read_sql(sql, db_engine)

In [19]:
for s in df_fact['stock'].unique():
    df2 = df_fact[df_fact['stock']==s]
    # price_volatility = df2['P'].rolling(5).apply(volatility.stddev_ndays, (5,))
    price_volatility = df2['P'].std(ddof=0)
    
    stock2['DailyReturn'] = np.log(stock2['Price'] / stock2['Price'].shift(1))
    
    print(s, len(df2), price_volatility)

TH:AAV 1304 1.1612586173236286
TH:AWC 1304 0.255564333214508
TH:ADVANC 1304 28.39969805063864
TH:AMATA 1304 4.743549882001316
TH:AEONTS 1304 45.12197670499755
TH:ANAN 1304 0.8414293799960691
TH:AOT 1304 16.523281923996077
TH:AP 1304 1.035605553541212
TH:ASP 1304 0.5869208826995641
TH:BA 1304 5.191744689460776
TH:BCPG 1304 3.246532832162863
TH:BANPU 1304 3.097713071612855
TH:BAY 1304 6.334911820230706
TH:BBL 1304 17.95064812577972
TH:BCP 1304 3.585194192391063
TH:BCH 1304 3.7412528396098677
TH:BEM 1304 1.6708869612959258
TH:BDMS 1304 2.279158724910512
TH:BEAUTY 1304 5.5254177810514635
TH:BEC 1304 11.88032256845546
TH:BECL 1304 2.6422713497025434
TH:BGRIM 1304 8.312724960243088
TH:BH 1304 24.09006092390054
TH:BPP 1304 2.745029764631766
TH:BIGC 1304 15.351830330865594
TH:BIG 1304 1.505741360782131
TH:BJC 1304 9.547891873102728
TH:BJCHI 1304 1.9652388890743453
TH:BLAND 1304 0.16373733749887065
TH:BLA 1304 10.138689780092825
TH:BMCL 1304 0.12681794421869544
TH:COM7 1304 6.410506045965625
TH:BTS 1304 1.4845870522163465
TH:CBG 1304 17.68424253824313
TH:CHG 1304 0.3446157828350165
TH:CENTEL 1304 5.938945313961353
TH:CK 1304 2.434678501687757
TH:GGC 1304 2.1936214236393177
TH:CKP 1304 1.2165491708289493
TH:CPALL 1304 14.593026540254677
TH:CPF 1304 3.0731904772058645
TH:CPN 1304 13.449863389612748
TH:DELTA 1304 11.800898304303491
TH:DEMCO 1304 3.482652203606898
TH:EARTH 1304 1.7301776200432772
TH:DTAC 1304 15.70569661867741
TH:EA 1304 12.113628537883764
TH:EGCO 1304 55.96985900885633
TH:EPG 1304 2.631109452742413
TH:ERW 1304 1.4482619446067397
TH:ESSO 1304 4.085525468512175
TH:GFPT 1304 2.764013867822196
TH:GULF 1304 6.980899983519601
TH:GL 1304 14.759920060376164
TH:GLOBAL 1304 3.5231936057432915
TH:GOLD 1304 1.3613570435656748
TH:GPSC 1304 19.06495125942341
  1304 4.996058278112244
TH:JWD 1304 1.8148710327054924
TH:GUNKUL 1304 0.5280964240126713
TH:HANA 1304 6.70431691822596
TH:HEMRAJ 1304 0.5236638861240338
TH:HMPRO 1304 3.5986732381274384
TH:ICHI 1304 5.264317545646566
TH:IFEC 1304 3.7591235418036564
TH:INTUCH 1304 9.206920980552068
TH:OSP 1304 6.33874601423703
TH:IRPC 1304 1.0816239410622748
TH:ITD 1304 2.196222361967733
TH:IVL 1304 12.455302299563382
TH:JAS 1304 1.4859412812125397
TH:JMART 1304 3.3389957271024473
TH:JMT 1304 4.400289834173365
TH:KAMART 1304 1.9104379375951572
TH:KTB 1304 1.6042401789512237
TH:KBANK 1304 22.306838864361318
TH:KTIS 1304 1.4947148314822596
TH:KCE 1304 12.218763427836587
TH:LHFG 1304 0.16525114682582354
TH:KKP 1304 15.38820580521659
TH:LPN 1304 3.9958840016501935
TH:KTC 1304 12.517017832928882
TH:MAJOR 1304 3.4545286553787524
TH:LH 1304 0.9583692317193985
TH:MEGA 1304 9.193658546017598
TH:LOXLEY 1304 0.7056270456070215
TH:MONO 1304 0.9480464721734294
TH:M 1304 10.28128016958002
TH:MALEE 1304 15.138343345969277
TH:NOK 1304 0.8344010233383772
TH:ORI 1304 3.6807191674853064
TH:MBK 1304 3.830710883620953
TH:MC 1304 3.1367295834851276
TH:MINT 1304 3.8649970695463596
TH:MTC 1304 13.935660174070856
TH:PRM 1304 1.8822871599748132
TH:PLANB 1304 0.9546928498494072
TH:PLAT 1304 1.2280171717161663
TH:SPRC 1304 2.781432035071382
TH:PSL 1304 2.2615203576718947
TH:PSH 1304 3.673268366214615
TH:PTL 1304 3.193961677369837
TH:PTG 1304 6.232106242574025
TH:TKN 1304 6.268380276502424
TH:PTT 1304 8.805703416079991
TH:PTTEP 1304 24.228335681734084
TH:PTTGC 1304 12.422771279224142
TH:QH 1304 0.35546271083051506
TH:RATCH 1304 6.466273240647651
TH:ROBINS 1304 9.732345057007876
TH:RS 1304 5.659703211298835
TH:S 1304 1.5005355889629826
TH:SCB 1304 15.036705582240245
TH:SAMART 1304 7.799059207780698
TH:SAMTEL 1304 5.110756520913293
TH:SCCC 1304 50.67129903728605
TH:SAPPE 1304 5.611147147525824
TH:SAWAD 1304 10.242781260946902
TH:SCC 1304 40.4306473584941
TH:TOA 1304 3.87902188684736
TH:SF 1304 0.9055352530756302
TH:SCN 1304 3.0475140488200063
TH:SGP 1304 2.7210051490630756
TH:SDC 1304 0.7570475378944758
TH:SIRI 1304 0.30661232561735413
TH:SPALI 1304 3.0664605615541456
TH:SPCG 1304 2.5572790218242254
TH:STA 1304 2.9191565681839045
TH:STEC 1304 2.7779650159481415
TH:STPI 1304 3.932797321924603
TH:SUPER 1304 0.47494154754837
TH:TASCO 1304 6.585826305587183
TH:SVI 1304 0.5608032958386643
TH:TCAP 1304 8.757308662607773
TH:THAI 1304 4.932916075711385
TH:THANI 1304 1.4250685200369846
TH:THCOM 1304 10.419884085787066
TH:THREL 1304 2.8437443590942233
TH:FPT 1304 1.9605080440171438
TH:TISCO 1304 20.443058862135494
TH:TMB 1304 0.32266019706154114
TH:TPIPP 1304 0.9499514652841076
TH:TOP 1304 14.259938745127611
TH:TPIPL 1304 0.3886688346132767
TH:WHAUP 1304 0.722271052464249
TH:TRC 1304 0.5503865566445193
TH:TRUE 1304 2.1979470957454343
TH:TCOAT 1304 4.357757616062814
TH:TTCL 1304 7.425639242074722
TH:TTW 1304 1.1120072024291725
TH:UNIQ 1304 3.6249321601849163
TH:TU 1304 2.0714878051807797
TH:TVO 1304 4.619918549077115
TH:U 1304 0.8345229084545863
TH:UV 1304 1.469001537168392
TH:VGI 1304 1.8231470035533457
TH:VIBHA 1304 0.5205299210014158
TH:VNG 1304 3.7118846372377674
TH:WHA 1304 0.5864695969349317
TH:WORK 1304 18.911952970873273

In [17]:
df_fact

             date    stock      P
0      2015-01-01   TH:AAV   4.30
1      2015-01-02   TH:AAV   4.30
2      2015-01-05   TH:AAV   4.30
3      2015-01-06   TH:AAV   4.54
4      2015-01-07   TH:AAV   4.58
...           ...      ...    ...
208635 2019-12-25  TH:WORK  13.60
208636 2019-12-26  TH:WORK  13.90
208637 2019-12-27  TH:WORK  14.10
208638 2019-12-30  TH:WORK  14.00
208639 2019-12-31  TH:WORK  14.00

[208640 rows x 3 columns]