# Build SET100 Dataset

1. Start from set100_union.csv  
2. Build table "stock"  
3. Build table "timeseries"  
4. Build table "set100_membership_periods"  


dataset/Datastream  

1_DY.xlsm
2_EPS.xlsm
3_MV.xlsm
4_P.xlsm
5_PH.xlsm
6_PL.xlsm
7_PO.xlsm
8_VA.xlsm
9_VO.xlsm
10_UPO.xlsm
11_UP.xlsm
12_UPH.xlsm
13_UPL.xlsm
14_UVO.xlsm
15_PTBV.xlsm
16_PE.xlsm
17_PI.xlsm
18_RI.xlsm
19_MTBV.xlsm
20_NOSH.xlsm
21_DWTA.xlsm

In [1]:
import sys, os, os.path
if not 'EXPERIMENT_HOME' in os.environ: # Configure local paths if not already defined
    ML_HOME = os.path.abspath(os.path.join("..", "ml_home")) # ML workspace
    EXPERIMENT_HOME = os.path.abspath(os.path.join(ML_HOME, "..")) # Experiment workspace
    DATA_HOME = os.path.abspath(os.path.join(EXPERIMENT_HOME,"dataset")) # Dataset location
    os.environ["EXPERIMENT_HOME"] = EXPERIMENT_HOME
    os.environ["DATA_HOME"] = DATA_HOME
    sys.path.insert(0, EXPERIMENT_HOME)
    sys.path.insert(0, ML_HOME) # Add to path so can load our library
    os.chdir(EXPERIMENT_HOME) # Change working directory to experiment workspace
print("Experiment Home: ", os.path.abspath(os.curdir), "; Data Home:", DATA_HOME)

Experiment Home:  /home/jovyan ; Data Home: /home/jovyan/dataset

In [2]:
from datetime import datetime
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import xlrd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv(os.path.join(DATA_HOME,"set100_union.csv"))
cols = df.columns
tickers = df[cols[1]]
tickers

0       CPALL
1      ADVANC
2       BLAND
3        GPSC
4         TTW
        ...
158    SAMTEL
159       PSH
160        QH
161       SIM
162       AAV
Name: 0, Length: 163, dtype: object

In [3]:
os.chdir("/home/jovyan/dataset/eikon-data")

lookup = pd.read_csv('lookup-stock.csv')
lookup.tail()

     Unnamed: 0 ISIN  RIC                   name symbol
606         NaN  NaN  NaN       JKN GLOBAL MEDIA    JKN
607         NaN  NaN  NaN         JAS ASSET NVDR      J
608         NaN  NaN  NaN  KIATNAKIN PHATRA BANK    KKP
609         NaN  NaN  NaN              MONO NEXT   MONO
610         NaN  NaN  NaN        SEAMICO CAPITAL  ZMICO

In [4]:
# Example lookup

# lookup.loc[lookup['symbol']=='LHFG']
lookup.loc[lookup['symbol']=='SAPPE']

     Unnamed: 0          ISIN       RIC   name symbol
400       400.0  TH5614010004  TH:SAPPE  SAPPE  SAPPE

# Price Series

In [5]:
os.chdir("/home/jovyan/dataset/Datastream")

def price_value(x):
    if x.value == 'NA':
        return None
    else:
        return float(x.value)

def get_price_series():
    fname = '4_P.xlsm'
    wb = xlrd.open_workbook(fname)
    series = {}
    for i in range(2,8): # Note the sheet index 2014-2019
        s = wb.sheets()[i]

        # Date index
        s1 = pd.Series(s.col(0)[4:]) # observation starts at row 4
        s1 = s1.apply(lambda x: datetime(*xlrd.xldate_as_tuple(x.value, wb.datemode)))

        for j in range(1, s.ncols):
            c = s.col(j)
            # print("{}".format(c[3].value)) # Print column name
            name = c[3].value
            # df = pd.DataFrame()
            if not "#ERROR" in name:
                # Convert spreadsheet value to python
                s2 = pd.Series(c[4:]) # observation starts at row 4
                s2 = s2.apply(price_value)
                df = pd.concat([s1, s2], axis=1)

                if not name in series:
                    series[name] = []
                series[name].append(df)
    return series

def rekey_and_stack(sin):
    sout = {}
    # Change key - missing key due to name change. Add verbatim name to database.
    keys = sin.keys()
    for k in keys:
        newkey = k.replace('','')
        # TODO change this with lookup function
        # symbol = lookup.loc[lookup['name']==newkey].symbol.values[0]
        symbol = newkey
        sout[symbol] = sin[k]
    # Merge years
    for s in sout.keys():   
        stock = pd.concat(sout[s], axis=0)
        stock.columns = ['Date', 'Price']
        stock = stock.set_index('Date') # Set date index
        sout[s] = stock['Price']
    return sout

series = get_price_series()
price_series = rekey_and_stack(series)
price_series.keys()

dict_keys(['SEVEN UTILITIES AND POWER ORS', 'AREEYA PROPERTY', 'ASIA AVIATION', 'AMATA B GRIMM PWPL.IFCF.', 'ADVANCED CONNECTION CORPORATION', 'ABSOLUTE CLEAN ENERGY', 'AUTOCORP HOLDING', 'ADVANCED INFO SER.', 'AEC SECURITIES', 'AE.THANA SINSAP (THAI.)', 'ASIA FIBER', 'ASIA GREEN ENERGY', 'AAPICO HITECH', 'AIKCHOL HOSPITAL', 'ASIAN INSULATORS', 'AIM COML.GW.FH.&. LH. REIT UNT.', 'AIM INDL.GW.FH.&. LH. REIT', 'ADVANCED INFO.TECH.', 'AJ PLAST', 'AJ ADVANCE TECHNOLOGY ORS', 'EKARAT ENGINEERING', 'ALLA', 'ALT TELECOM', 'ALUCON', 'AMANAH LEASING', 'AMARIN PRINTING & PBL.', 'AMATA', 'AMATA NVDR', 'AMATA VN', 'ASIA METAL', 'ANANDA DEVELOPMENT', 'AIRPORTS OF THAILAND', 'AP (THAILAND)', 'ASIAN PHYTOCEUTICALS', 'ASIA PRECISION', 'APEX DEVELOPMENT', 'AGRIPURE HOLDINGS', 'AQ ESTATE', 'AQUA', 'ASIASOFT', 'SYNERGETIC AUTO PERFORMANCE', 'ASEFA', 'ASIA HOTEL', 'ASIAN SEA CORPORATION', 'ASIAN MARINE SERVICES', 'ASIA SERMKIJ LEASING', 'ASIA PLUS GROUP HDG.', 'ASSET WORLD', 'ALLIANZ AYUDHYA CAPITAL', 'BUALUANG OFFE.LH. REIT.', 'BEGISTICS ORS', 'B-52 CAPITAL', 'BANGKOK AIRWAY', 'BGK.AVIATION FUEL SVS.', 'BANGKOK COMMERCIAL ASSET MANAGEMENT', 'BANPU', 'BANK OF AYUDHYA', 'BANGKOK BANK', 'BANGKOK CHAIN HOSPITAL', 'BANGCHAK CORPORATION ORS', 'BCPG', 'BIRLA CARBON', 'BANGKOK DUSIT MED.SVS.', 'BEAUTY COMMUNITY', 'BEC WORLD', 'BANGKOK EXPRESSWAY AND METRO', 'SRISAWAD FINANCE', 'BG CONTAINER GLASS PUBLIC', 'B GRIMM POWER', 'BUMRUNGRAD HOSPITAL', 'BIG CAMERA', 'BERLI JUCKER', 'BJC HEAVY INDUSTRIES', 'BANGKOK DEC-CON', 'BUALUANG K E RETAIL LEASEHOLD REIT', 'BANGKOK INSURANCE', 'BANGKOK COMMERCIAL PROPERTY', 'BANGKOK LIFE ASSURANCE', 'BANGKOK LAND', 'BHIRAJ OFFICE LEASEHOLD REIT', 'BANPU POWER', 'BANGKOK RANCH', 'BAAN ROCK GARDEN', 'BURIRAM SUGAR', 'BURIRAM SUG.GP. PWPL. INFRASTRUTURE', 'BANGSAPHAN BARMILL', 'BOUTIQUE NEW CITY', 'BTS GROUP HDG.', 'BTS RAL.MSTI.GW. INFR.', 'BANGKOK UNION IN.', 'BETTER WORLD GREEN', 'CARABAO GROUP', 'CAL-COMP ELTN.(THAI.)', 'CHONBURI CONC.PRODUCT', 'CAPITAL ENGR.NETWORK', 'CENTRAL PLAZA HOTEL', 'SEAFRESH INDUSTRY', 'COUNTRY GROUP DEV.', 'COUNTRY GROUP HOLDINGS', 'CHARAN INSURANCE', 'CHAYO GROUP', 'CHULARAT HOSPITAL', 'KGHSG.TRDG.FRZ.FOOD', 'CHARN ISSARA DEVELOPMENT', 'CIMB THAI BANK', 'CITY STEEL', 'CH KARNCHANG', 'CK POWER', 'CHIANGMAI FRZ.FOODS', 'CHEMEMANORD', 'CHIANG MAI RAM MED.BUS.', 'CHRISTIANI & NIELSEN', 'COL', 'COM7', 'SCG CERAMICSORD', 'CP ALL', 'CHAROEN POKPHAND FOODS', 'CASTLE PEAK HOLDINGS', 'CHUMPORN PALM OIL IND.', 'CPL GROUP', 'CENTRAL PATTANA', 'CPN COML.GW.LH.PR.', 'CPN RETAIL GROWTH LEASEHOLD REIT', 'CPT DRIVES AND POWER', 'C P TOWER GROWTH LEASEHOLD PROPERTY', 'COPPERWIRED', 'CHU KAI', 'CROWN SEAL', 'CSP STEEL CENTER', 'CITY SPORTS & RECREATION', 'COMMUNICATION & SYSTEM SOLUTION', 'CENTARA H&R.LH.PR.', 'CHAROONG THAI WIRE CAB.', 'CHAI WATANA TANNERY', 'DYNASTY CERAMIC', 'DCON PRODUCTS', 'DO DAY DREAM', 'DELTA ELECTRONICS', 'DEMCO', 'DIGITAL TELECOM.IFCF.', 'DOHOME', 'DUSIT THANI FH.&. LH. REIT', 'DIAMOND BLDG.PRODUCTS', 'TOTAL ACCESS COMMS.', 'DUSIT THANI', 'DTC INDUSTRIES', 'ENERGY ABSOLUTE', 'EASON &', 'EASTERN WATER RESOURCES DEV.& MAN.', 'EASTERN COML.LEASING', 'ETERNAL ENERGY', 'NORTH BANGKOK PWR.PLANT BLOCK 1 INFR.FD.', 'ELECTRICITY GENERATING', 'EKACHAI MEDICAL CARE', 'EMC', 'EASTERN POWER', 'EASTERN POLYMER GROUP', 'ERAWAN GROUP', 'ERAWAN HOTEL GROWTH PROPERTY', 'ESSO THAILAND', 'EASTERN STAR REAL ESTATE', 'EVERLAND', 'FOOD AND DRINKS', 'FANCY WOOD INDUSTRIES', 'FAR EAST FAME LINE DDB ORS', 'FINE METAL TECHNOLOGIES', 'FN FACTORY OUTLET', 'FINANSA', 'FORTH', 'FRASERS PROPERTY PUBLIC', 'FINANSIA SYRUS SECS.', 'FIRETRADE ENGINEERING', 'FRASERS PROP THA INDUST FHLH.REIT', 'FUTURE PARK LEASEHOLD PROPERTY', 'GRANDE HOSPITALITY REIT UNIT', 'GLOBLEX HOLDING', 'GLOBAL CONNECTIONS', 'GENERAL ENGINEERING', 'GENERAL ENV.CVT.', 'GFPT', 'GLOBAL GREEN CHEMICALS', 'GRATITUDE INFINITE', 'G J STEEL', 'GRAND CANAL LAND', 'SIAM GLOBAL HOUSE', 'GLOBAL CONSUMER', 'GOLD PROPERTY (LEASE HOLD)', 'GRAND PRIX INTERNATIONAL', 'GLOBAL POWER SYNERGY', 'GMM GRAMMY', 'GRANDE ASST.HTLS.& PR.', 'GREEN RESOURCES', 'GULF ENERGY DEVELOPMENT', 'GUNKUL ENGINEERING', 'GOLDEN VENTURES LEASEHOLD REIT', 'GOODYEAR (THAILAND)', 'HANA MICROELECTRONICS', 'HWA FONG RUBBER (THAI.)', 'HOME PRODUCT CENTER', 'HEMARAJ INDUSTRIAL PROPERTY AND LEASEHOLD', 'HEMARAJ LEASEHOLD REIT UNITS', 'HAAD THIP', 'HALCYON TECHNOLOGY', 'HUMANICA', 'ICC INTERNATIONAL', 'ICHITAN GROUP', 'IFS CAP.(THAILAND)', 'INTERHIDES', 'TRIPLE I LOGISTICS', 'INTERLINK COMMUNICATION', 'INDEX LIVING M', 'IPCT.GW.REIT.TST. UTS.', 'INTERNET THAILAND', 'INGRESS INDUSTRIAL', 'POSCO-THAINOX', 'INDARA INSURANCE', 'INTOUCH HOLDINGS', 'INOUE RUBBER', 'IRPC', 'IT CITY', 'ITALIAN-THAI DEVELOPMENT', 'INDORAMA VENTURES', 'JAS ASSET', 'JASMINE INTERNATIONAL', 'JASMINE BROADBAND INET. INFRASTRUCTURE FUND', 'JCK INTERNATIONAL ORS', 'JACK CHIA INDUSTRIES', 'JKN GLOBAL MEDIA', 'JAY MART', 'JMT NETWORK SERVICES', 'JAS ASSET NVDR', 'JASMINE TELECOM SYS.', 'JUTHA MARITIME', 'JWD INFOLOGISTICS', 'KARMARTS', 'KASIKORNBANK', 'KHONBURI SUGAR', 'KRUNGTHAI CAR RENT AND LEASE', 'KCE ELECTRONICS', 'THONBURI MEDICAL CENTRE', 'KGI SECURITIES', 'KULTHORN KIRBY', 'KIATNAKIN PHATRA BANK', 'KPN PROPERTY', 'KHON KAEN SUGAR', 'KRUNG THAI BANK', 'KRUNGTHAI CARD', 'KASET THAI INTERNATIONAL SUG.', 'KRUNGDHEP SOPHON', 'KING WAI GROUP', 'KANG YONG ELECTRIC', 'LIGHTING & EQUIPMENT', 'LALIN PROPERTY', 'LANNA RESOURCES', 'LEE FEED MILL', 'LAND AND HOUSES', 'LH FINANCIAL GP.', 'LH HTL.LH.REIT.TST. UTS.', 'LOHAKIT METAL', 'LD.&.HSES.FH.AND LH.PR.', 'LH SHOPPING CENTERS LEASEHOLD REIT', 'LOXLEY', 'LADPRAO GENERAL HOSPITAL', 'LPN DEVELOPMENT', 'LAGUNA RESORTS & HOTELS', 'LAM SOON', 'LUXURY REAL ESTATE INVESTMENT', 'MAHACHAI HOSPITAL', 'MFC IINV.PR.&.LH.', 'MFC PATONG HERITAGE PROPERTY', 'MFC-STRATEGIC STORAGE', 'MK RESTAURANT GROUP', 'MASTER AD', 'MAJOR CINEPLEX GROUP', 'SIAM MAKRO', 'MALEE GROUP', 'MANDARIN HOTEL', 'MATCHING MAXIMIZE SLN.', 'MATICHON', 'MAX METAL', 'MBK', 'MAYBANK KIM ENG SECS. (THAILAND)', 'MC GROUP', 'MCOT', 'MCS STEEL', 'MDX', 'MEGA LIFESCIENCES', 'MURAMOTO ELECTRON', 'MFC ASSET MANAGEMENT', 'MFEC', 'MIDA ASSETS', 'MILLCON STEEL', 'MINOR INTERNATIONAL', 'MILLIONAIRE PROPERTY', 'MFC INDL.REIT.TST. UTS.', 'MAJOR DEVELOPMENT', 'MJR.CPX.LFY.LH.PR.', 'MK REAL ESTATE DEV.', 'MIDA LEASING', 'NICHADA THANI PROPERTY 2', 'MFC-NICHADA THANI PROPERTY', 'MULTI-NATIONAL RESIDENCE', 'MODERNFORM GROUP', 'MONO NEXT', 'M PICTURES ENTERTAINMENT', 'METRO SYSTEMS', 'MUANGTHAI CAPITAL ORS', 'MUANG THAI INSURANCE', 'NEW CITY (BANGKOK)', 'NC HOUSING', 'NEP REALTY & IND.', 'NORTH EAST RUBBERS', 'WATTANA KARNPAET', 'NEX POINT', 'NFC', 'NAVAKIJ INSURANCE', 'NAVANAKORN', 'NOBLE DEVELOPMENT', 'NOK AIRLINES', 'NAM SENG INSURANCE', 'NONTHAVEJ HOSPITAL', 'NUSASIRI', 'NIRVANA DAII ORS', 'NAWARAT PATANAKARN', 'NAMYONG TERMINAL', 'OCC', 'OCEAN GLASS', 'OHTL', 'OISHI GROUP', 'ORIGIN PROPERTY', 'OSOTSPA', 'PAN ASIA FOOTWEAR', 'PACIFIC PIPE', 'PATO CHEMICAL IND.', 'PRESIDENT BAKERY', 'PCS MACHINE GPHD.', 'PADAENG INDUSTRY', 'PRANDA JEWELRY', 'PERMSIN STEEL WORKS', 'PROPERTY PERFECT', "PEOPLE'S GARMENT", 'PATKOL', 'PHATRA LEASING', 'PLAN B MEDIA', 'THE PLATINUM GROUP', 'POWER LINE ENGR.', 'PREMIER MARKETING', 'PM THORESEN ASIA HDG.', 'PRI.OFFE.LH.PPF. REIT', 'SAHATHAI TERMINAL', 'BANGKOK POST ORS', 'PINTHONG INDUSTRIAL PARK PROPERTY', 'PREMIER PRODUCTS', 'PP PRIME', 'PRARAM 9 HOSPITAL', 'PRAKIT HOLDINGS', 'PRE-BUILT', 'PREECHA GROUP', 'PATUM RICE MILL & GRNY.', 'PRIME ROAD POWER', 'PRINSIRI', 'PRINCIPAL CAPITAL', 'PRIMA MARINE', 'PRUKSA HOLDING', 'PRECIOUS SHIPPING', 'PREMIER TECHNOLOGY', 'PTG ENERGY', 'POLYPLEX (THAILAND)', 'PTT', 'PTT EXPLORATION & PRDN.', 'PTT GLOBAL CHEMICAL', 'PYLON', 'QUALITY CON.PRDS.', 'QUALITY HOUSES', 'QLT.HSE.HLRS.FH &. LH PROP', 'QUALITY HOSPITALITY LEASEHOLD PROPERTY', 'QUALITY HOUSES LEASEHOLD PROPERTY FU', 'RAMKHAMHAENG HOSPITAL', 'RATCH GROUP PCL', 'R & B FOOD SUPPLY', 'ROYAL CERAMIC IND.', 'REGIONAL CONTAINERS LIN.', 'RICHY PLACE 2002', 'RAJTHANEE HOSPITAL PUBLIC', 'RAIMON LAND', 'ROCKWORTH', 'ROYAL ORCHID HTL.(THAI.)', 'ROJANA INDUSTRIAL PARK', 'RPCG', 'RATCHAPHRUEK HOSPITAL', 'RS', 'RICH SPORT', 'S & J INTL.ENTERPRISES', 'S11 GROUP', 'SINGHA ESTATE', 'SABINA', 'SAMCHAI STEEL INDS.', 'SAMART', 'SAMMAKORN', 'SAMART TELCOMS', 'SAPPE', 'SOMBOON ADVANCE TECH.', 'THAITHEPAROS', 'SRISAWAD CORPORATION', 'SAWANG EXPORT', 'SAMUI BURI PROPERTY FUND', 'SC ASSET', 'SIAM COMMERCIAL BANK', 'SIAM CEMENT', 'SIAM CITY CEMENT', 'SAHACOGEN(CHONBURI)', 'SCI ELECTRIC', 'SCAN INTER', 'SOUTHERN CONCRETE PILE', 'SAMART DIGITAL ORS', 'SE-EDUCATION', 'SEAFCO', 'SENA DEVELOPMENT', 'SIAM FUTURE DEVELOPMENT', 'STARFLEX', 'SIAM FOOD PRODUCTS', 'SIAMGAS AND PETROCHEM.', 'SHANGRI-LA HOTEL', 'S HOTELS AND RESORTS', 'STGC.HOSPLTY. EXTENDABLE FREE&LEASE', 'SIAM STEEL INTL.', 'SINGER THAILAND', 'SANSIRI', 'SIRI PRIME OFFICE PROPERTY', 'SIS DS.(THAILAND)', 'SISB', 'SRITHAI SUPERWARE', 'SAKOL ENERGY', 'S KIJCHAI ENTERPRISE', 'SIKARIN', 'SALEE PRINTING', 'SAHAMIT MACHINERY', 'SYN MUN KONG', 'SAHAMITR PRESSURE CTNR.', 'STARS MICROELECTRONICS', 'SNC FORMER', 'S & P SYNDICATE', 'SOLARTRON', 'S KHONKAEN FOODS', 'S PACK & PRINT', 'SUPALAI', 'SAHA PATHANAPIBUL', 'SPCG', 'SAMUI AIRPORT PROPERTY (LEASEHOLD)', 'SIAM PAN GROUP', 'SAHA PATH.INTER-HOLDING', 'STAR PTL.REFN.', 'S PRIME GROWTH LEASEHOLD REIT', 'SAHAKOL EQUIPMENT', 'SRIRACHA CONSTRUCTION', 'SRI PANWA HOSPLTY. REIT. TST.', 'SERMSUK', 'SURAPON FOODS', 'SERMSANG POWER CORPORATION', 'SALA @ SATHORN PROPERTY', 'SIAM STEEL SERVICE CTR.', 'SUB SRI THAI', 'SUB SRI THAI REAL ESTATE INVESTMENT TRUST', 'SRI TRANG AGRO-INDUSTRY', 'THAI STANLEY ELECTRIC', 'STARK CORPORATION', 'SINO-THAI ENGR.CON.', 'STP & I', 'SAHA-UNION', 'SUPER ENERGY CORPORATION', 'SUPER ENERGY POWER PLANT INFRASTRUCTURE', 'SUSCO', 'GOLDEN LIME', 'SAMITIVEJ', 'SVI', 'SVOA', 'SYMPHONY COMMUNICATION', 'SYNNEX (THAILAND)', 'SYNTEC CONSTRUCTION', 'THAI AGRO ENERGY', 'TIPCO ASPHALT', 'TBSP', 'TROPICAL CANNING', 'THANACHART CAPITAL', 'THAI CAPITAL', 'THAI CENTRAL CHM.', 'TCJ ASIA', 'TCM CORPORATION ORS', 'THAI COATING INDL.', 'TEAM PRECISION', 'TEAM CNSL.ENGR.&. MAN.', 'THAILAND FUTURE', 'THAIFOODS GROUP', 'THAI FILM INDUSTRIES', 'THAI PRESIDENT FOODS', 'THAI GROUP HOLDINGS', 'THAI-GERMAN PRODUCTS', 'TONG HUA HOLDING', 'THAI AIRWAYS INTL.', 'RATCHTHANI LEASING', 'THAICOM', 'STEEL', 'THONBURI HEALTHCARE GROUP', 'THANTAWAN INDUSTRY', 'THAI REINSURANCE', 'THAIRE LIFE ASSURANCE', 'THAI INDUSTRIAL 1', 'DHIPAYA INSURANCE', 'TIPCO FOODS', 'TISCO FINANCIAL GROUP', 'THAILAND IRON WORKS', 'THITIKORN', 'TAOKAENOI FOOD & MKTG.', 'TKS TECHNOLOGIES', 'T KRUNGTHAI INDUSTRIES', 'TESCO LOTUS RET.GW. FH. &.LH.', 'THAILAND HOSPITALITY PROPERTY', 'TMB BANK', 'THAI METAL DRUM', 'TMT STEEL', 'TRINITY WATTHANA', 'THANULUX', 'THAI NAM PLASTICS', 'TRINITY FHLH.PR.FUND', 'THAI NIPPON RUBBER INDUSTRY', 'TOA PAINT THAILAND', 'THAI OPTICAL GROUP', 'THAI OIL', 'THAI OPP', 'THAI POLY ACRYLIC', 'TPBI', 'TEXTILE PRESTIGE', 'TPI POLENE', 'TPI POLENE POWER', 'THAI POLYCONS', 'THAI PACK.AND PRINT.', 'THAI.PRI.PR.FHLH. REIT', 'TQM CORPORATION', 'THAI RAYON', 'TRC CONSTRUCTION', 'TRITON HOLDING', 'THAI RUNG UNION CAR', 'THAI RUBBER LATEX GROUP', 'TRUE CORPORATION', 'THAI STEEL CABLE', 'THAI SOLAR ENERGY', 'THAI SETAKIJ IN.', 'THIENSURAT', 'THAI SUGAR TERMINAL', 'TATA STEEL (THAILAND)', 'THORESEN THAI AG.', 'TTCL', 'THAI TEXTILE', 'TALAAD THAI LEASEHOLD PROPERTY', 'TORAY TEXTILES', 'THAI TAP WATER SUPPLY', 'T U DOME RESD.CMX. LH. PR.', 'THAI UNION GROUP', 'THAIVIVAT INSURANCE', 'THAI VEGETABLE OIL', 'THAI WIRE PRODUCTS', 'THAI WAH', 'TWZ', 'TYCOONS WORLDWIDE GROUP', 'U CITY', 'UAC GLOBAL PUBLIC COMPANY LIMITED', 'UNION MOSAIC', 'UNIQUE ENGR.AND CON.', 'UOB KAY HIAN SECURITIES', 'UNION PLASTIC', 'UNION PIONEER FABRIC', 'UNITED PALM OIL IND.', 'URBANA PROPERTY (LEASE HOLD)', 'UNION TEXTILE INDUSTRIES', 'UNITED PAPER', 'UNIVENTURES', 'UNIVANICH PALM OIL', 'VAROPAKORN', 'VGI', 'VIBHAVADI MEDICAL', 'SRIVICHAI VEJVIVAT', 'VANACHAI GROUP', 'VINYTHAI', 'VICHITBHAN PALMOIL', 'VERANDA RESORT', 'WOW FACTOR', 'THAI WACOAL', 'WAVE ENTERTAINMENT', 'WHA', 'WHA BUS.CMX.FH.&. LH. REIT', 'WHA PRUM.GW.FH.&. LH. REIT', 'WHA UTILITIES AND POWER', 'WICE LOGISTICS', 'WIIK', 'WYNCOAST INDUSTRIAL PARK', 'WORKPOINT ENTERTAINMENT', 'WP ENERGY', 'WATTANAPAT HOSPITAL TRANG', 'ZEN CORPORATION', 'SEAMICO CAPITAL'])

In [6]:
df = pd.DataFrame()
idx = None
for k,v in price_series.items():
    idx = v.index
    v = v.reset_index(drop=True)
    df[k] = v
df.index = idx

df

,SEVEN UTILITIES AND POWER ORS,AREEYA PROPERTY,ASIA AVIATION,AMATA B GRIMM PWPL.IFCF.,ADVANCED CONNECTION CORPORATION,ABSOLUTE CLEAN ENERGY,AUTOCORP HOLDING,ADVANCED INFO SER.,AEC SECURITIES,AE.THANA SINSAP (THAI.),...,WHA PRUM.GW.FH.&. LH. REIT,WHA UTILITIES AND POWER,WICE LOGISTICS,WIIK,WYNCOAST INDUSTRIAL PARK,WORKPOINT ENTERTAINMENT,WP ENERGY,WATTANAPAT HOSPITAL TRANG,ZEN CORPORATION,SEAMICO CAPITAL
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,0.44,6.65,4.20,3.23,0.51,NaN,NaN,172.5,0.27,182.0,...,11.04,5.55,3.64,1.65,0.54,23.30,4.98,2.32,NaN,1.00
2019-01-02,0.43,6.65,4.12,3.20,0.50,NaN,NaN,173.5,0.27,183.0,...,10.94,5.60,3.66,1.64,0.56,24.00,4.98,2.26,NaN,0.99
2019-01-03,0.43,6.65,3.96,3.20,0.50,NaN,NaN,172.5,0.26,186.5,...,10.84,5.55,3.68,1.67,0.55,23.50,4.92,2.30,NaN,0.98
2019-01-04,0.43,6.60,4.00,3.25,0.50,NaN,NaN,177.0,0.26,186.5,...,10.74,5.55,3.74,1.67,0.55,23.30,5.00,2.28,NaN,0.99
2019-01-07,0.42,6.65,4.02,3.28,0.48,NaN,NaN,177.0,0.27,187.0,...,10.84,5.65,3.78,1.68,0.55,23.40,5.10,2.36,NaN,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-25,3.22,5.45,4.46,4.02,0.78,NaN,NaN,248.0,0.80,109.5,...,9.39,NaN,NaN,2.28,1.00,29.80,NaN,NaN,NaN,1.55
2014-12-26,3.24,5.45,4.42,3.97,0.78,NaN,NaN,251.0,0.81,109.0,...,9.49,NaN,NaN,2.23,0.99,30.51,NaN,NaN,NaN,1.55
2014-12-29,3.05,5.45,4.32,3.99,0.78,NaN,NaN,249.0,0.79,108.0,...,9.49,NaN,NaN,2.16,0.96,29.80,NaN,NaN,NaN,1.54
2014-12-30,3.00,5.45,4.30,3.99,0.78,NaN,NaN,251.0,0.80,108.5,...,9.53,NaN,NaN,2.19,0.96,29.80,NaN,NaN,NaN,1.55
2014-12-31,3.00,5.45,4.30,3.99,0.78,NaN,NaN,251.0,0.80,108.5,...,9.53,NaN,NaN,2.19,0.96,29.80,NaN,NaN,NaN,1.55

In [7]:
# Change column names: Map company names to ticker symbols


rename = {}

for name in df.columns.values:
    try:
        rename[name] = lookup.loc[lookup['name']==name].symbol.values[0]
    except:
        print(name)
df=df.rename(columns=rename)
df

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,0.44,6.65,4.20,3.23,0.51,NaN,NaN,172.5,0.27,182.0,...,11.04,5.55,3.64,1.65,0.54,23.30,4.98,2.32,NaN,1.00
2019-01-02,0.43,6.65,4.12,3.20,0.50,NaN,NaN,173.5,0.27,183.0,...,10.94,5.60,3.66,1.64,0.56,24.00,4.98,2.26,NaN,0.99
2019-01-03,0.43,6.65,3.96,3.20,0.50,NaN,NaN,172.5,0.26,186.5,...,10.84,5.55,3.68,1.67,0.55,23.50,4.92,2.30,NaN,0.98
2019-01-04,0.43,6.60,4.00,3.25,0.50,NaN,NaN,177.0,0.26,186.5,...,10.74,5.55,3.74,1.67,0.55,23.30,5.00,2.28,NaN,0.99
2019-01-07,0.42,6.65,4.02,3.28,0.48,NaN,NaN,177.0,0.27,187.0,...,10.84,5.65,3.78,1.68,0.55,23.40,5.10,2.36,NaN,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-25,3.22,5.45,4.46,4.02,0.78,NaN,NaN,248.0,0.80,109.5,...,9.39,NaN,NaN,2.28,1.00,29.80,NaN,NaN,NaN,1.55
2014-12-26,3.24,5.45,4.42,3.97,0.78,NaN,NaN,251.0,0.81,109.0,...,9.49,NaN,NaN,2.23,0.99,30.51,NaN,NaN,NaN,1.55
2014-12-29,3.05,5.45,4.32,3.99,0.78,NaN,NaN,249.0,0.79,108.0,...,9.49,NaN,NaN,2.16,0.96,29.80,NaN,NaN,NaN,1.54
2014-12-30,3.00,5.45,4.30,3.99,0.78,NaN,NaN,251.0,0.80,108.5,...,9.53,NaN,NaN,2.19,0.96,29.80,NaN,NaN,NaN,1.55
2014-12-31,3.00,5.45,4.30,3.99,0.78,NaN,NaN,251.0,0.80,108.5,...,9.53,NaN,NaN,2.19,0.96,29.80,NaN,NaN,NaN,1.55

In [8]:
# Save to database
from sqlalchemy import create_engine
engine = create_engine('postgresql://datauser:1234@172.18.0.1:5432/stockdb', echo=False)

df.to_sql('Price', con=engine, if_exists='replace')

# Saved to CSV
# df.to_csv('4_P.csv')

In [9]:
class DatastreamTable:
    def __init__(self, fname, key_replace, data_col, table_name):        
        os.chdir("/home/jovyan/dataset/Datastream")
        self.fname = fname
        self.key_replace = key_replace
        self.data_col = data_col
        self.table_name = table_name
        ds = self.get_data_series()
        dd = self.rekey_and_stack(ds)
        # Prepare final data frame
        df = pd.DataFrame()
        idx = None
        for k,v in dd.items():
            idx = v.index
            v = v.reset_index(drop=True)
            df[k] = v
        df.index = idx
        
        # Change column names: Map company names to ticker symbols
        rename = {}

        for name in df.columns.values:
            try:
                rename[name] = lookup.loc[lookup['name']==name].symbol.values[0]
            except:
                print(name)
        df=df.rename(columns=rename)
        
        self.df = df
        
    def get_data_series(self):
        fname = self.fname
        wb = xlrd.open_workbook(fname)
        series = {}
        for i in range(2,8): # Note the sheet index 2014-2019
            s = wb.sheets()[i]
            # Date index
            s1 = pd.Series(s.col(0)[4:]) # observation starts at row 4
            s1 = s1.apply(lambda x: datetime(*xlrd.xldate_as_tuple(x.value, wb.datemode)))

            for j in range(1, s.ncols):
                c = s.col(j)
                # print("{}".format(c[3].value)) # Print each column in data file
                name = c[3].value
                # df = pd.DataFrame()
                if not "#ERROR" in name:
                    # Convert spreadsheet market cap value to python
                    s2 = pd.Series(c[4:]) # observation starts at row 4
                    s2 = s2.apply(lambda x: x.value)
                    df = pd.concat([s1, s2], axis=1)

                    if not name in series:
                        series[name] = []
                    series[name].append(df)
        return series

    def rekey_and_stack(self, sin):
        sout = {}
        keys = sin.keys()
        # Change key - column name have attribute description that is to be removed
        for k in keys:
            newkey = k.replace(self.key_replace,'')
            symbol = newkey
            sout[symbol] = sin[k]
        # Merge years
        for s in sout.keys():
            stock = pd.concat(sout[s], axis=0)
            stock.columns = ['Date', self.data_col]
            stock = stock.set_index('Date') # Set date index
            stock.sort_index(inplace=True)
            sout[s] = stock[self.data_col]
        return sout
    
    def save(self):
        self.df.to_sql(self.table_name, con=engine, if_exists='replace')
        self.df.to_csv(self.fname.replace('.xlsm','.csv'))
        print("Saved. %s" % self.table_name)

# DY

In [10]:
dat = DatastreamTable(fname='1_DY.xlsm', key_replace=' - DIVIDEND YIELD', data_col='DY', 
                       table_name='DividendYield')

In [11]:
dat.df.tail()['CPALL']

Date
2014-12-25    2.21
2014-12-26    2.16
2014-12-29    2.21
2014-12-30    2.12
2014-12-31    2.12
Name: CPALL, dtype: float64

In [12]:
dat.save()

Saved. DividendYield

# EPS

In [13]:
dat = DatastreamTable(fname='2_EPS.xlsm', key_replace=' - EARNINGS PER SHR', data_col='EPS', 
                       table_name='EarningsPerShare')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHABT,WHART,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,0.0,0.02,0.0,1.4,0.01,NaN,NaN,12.02,0.0,9.74,...,NaN,NaN,NaN,0.05,0.0,0.18,NaN,NaN,NaN,0.08
2014-12-26,0.0,0.02,0.0,1.4,0.01,NaN,NaN,12.02,0.0,9.74,...,NaN,NaN,NaN,0.05,0.0,0.18,NaN,NaN,NaN,0.08
2014-12-29,0.0,0.02,0.0,1.4,0.01,NaN,NaN,12.02,0.0,9.74,...,NaN,NaN,NaN,0.05,0.0,0.18,NaN,NaN,NaN,0.08
2014-12-30,0.0,0.02,0.0,1.4,0.01,NaN,NaN,12.02,0.0,9.74,...,NaN,NaN,NaN,0.05,0.0,0.18,NaN,NaN,NaN,0.08
2014-12-31,0.0,0.02,0.0,1.4,0.01,NaN,NaN,12.02,0.0,9.74,...,NaN,NaN,NaN,0.05,0.0,0.18,NaN,NaN,NaN,0.08

In [14]:
dat.save()

Saved. EarningsPerShare

# MV

In [15]:

dat = DatastreamTable(fname='3_MV.xlsm', key_replace=' - MARKET VALUE', data_col='MV', 
                       table_name='MarketValue')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,2106.00,5341.0,21631.00,5430.0,915.14,NaN,NaN,737327.1,1484.32,27375.0,...,3061.28,NaN,NaN,797.83,496.48,11173.70,NaN,NaN,NaN,2026.99
2014-12-26,2116.80,5341.0,21437.00,5370.0,915.14,NaN,NaN,746246.6,1494.42,27250.0,...,3092.36,NaN,NaN,779.84,491.52,11439.74,NaN,NaN,NaN,2026.99
2014-12-29,2099.52,5341.0,20951.99,5400.0,915.14,NaN,NaN,740299.9,1464.13,27000.0,...,3092.36,NaN,NaN,755.84,476.62,11173.70,NaN,NaN,NaN,2013.91
2014-12-30,2060.64,5341.0,20855.00,5400.0,915.14,NaN,NaN,746246.6,1474.23,27125.0,...,3107.9,NaN,NaN,767.84,476.62,11173.70,NaN,NaN,NaN,2026.99
2014-12-31,2060.64,5341.0,20855.00,5400.0,915.14,NaN,NaN,746246.6,1474.23,27125.0,...,3107.9,NaN,NaN,767.84,476.62,11173.70,NaN,NaN,NaN,2026.99

In [16]:
dat.save()

Saved. MarketValue

# VA

In [17]:
dat = DatastreamTable(fname='8_VA.xlsm', key_replace=' - TURNOVER BY VALUE', data_col='VA', 
                       table_name='TurnoverByValue')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,20139.5,132.9,105279,382.8,NA,NaN,NaN,441591,9628.6,10445.4,...,414.8,NaN,NaN,57782.4,10851.1,12347.5,NaN,NaN,NaN,902.6
2014-12-26,38899.6,54.5,147574,149.4,NA,NaN,NaN,611976,8022.4,1785.6,...,5805.1,NaN,NaN,50541.8,3492,19288.1,NaN,NaN,NaN,435.3
2014-12-29,29306.8,71.9,296742,148.8,NA,NaN,NaN,570719,2110.8,2135.6,...,1024.8,NaN,NaN,8295.3,2050.3,1975.3,NaN,NaN,NaN,673.6
2014-12-30,6423.7,81.8,140091,55.1,NA,NaN,NaN,575501,4006.6,2239.9,...,386.3,NaN,NaN,4835.8,1581,3981.8,NaN,NaN,NaN,1338
2014-12-31,NA,NA,NA,NA,NA,NaN,NaN,NA,NA,NA,...,NA,NaN,NaN,NA,NA,NA,NaN,NaN,NaN,NA

In [18]:
dat.save()

Saved. TurnoverByValue

# VO

In [19]:
dat = DatastreamTable(fname='9_VO.xlsm', key_replace=' - TURNOVER BY VOLUME', data_col='VO', 
                       table_name='TurnoverByVolume')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,6309.1,24.3,23459.2,96.2,NA,NaN,NaN,1774.2,11830.9,95.3,...,44.2,NaN,NaN,24971.8,10649.8,416.6,NaN,NaN,NaN,583.1
2014-12-26,12083.5,10,33451.5,37.4,NA,NaN,NaN,2453.1,10006.2,16.5,...,613.3,NaN,NaN,21615.4,3507.5,638.1,NaN,NaN,NaN,280.6
2014-12-29,9612.5,13.2,69141.7,37.4,NA,NaN,NaN,2282.7,2648.4,19.8,...,108,NaN,NaN,3864.2,2089.8,65.5,NaN,NaN,NaN,437.5
2014-12-30,2167.5,15,32556,13.7,NA,NaN,NaN,2303,5094.5,20.7,...,40.6,NaN,NaN,2252.7,1655.9,134.2,NaN,NaN,NaN,865.7
2014-12-31,NA,NA,NA,NA,NA,NaN,NaN,NA,NA,NA,...,NA,NaN,NaN,NA,NA,NA,NaN,NaN,NaN,NA

In [20]:
dat.save()

Saved. TurnoverByVolume

# UPO

In [21]:
dat = DatastreamTable(fname='10_UPO.xlsm', key_replace=' - UNADJ. PRICE OPEN', data_col='UPO', 
                       table_name='UnadjustedPriceOpen')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,3.92,5.5,4.52,9,NA,NaN,NaN,251,1.48,112,...,9.9,NaN,NaN,2.68,1,42,NaN,NaN,NaN,1.57
2014-12-26,3.88,5.45,4.46,9,NA,NaN,NaN,248,1.48,108.5,...,9.95,NaN,NaN,2.74,1,41.75,NaN,NaN,NaN,1.56
2014-12-29,3.32,5.45,4.28,8.95,NA,NaN,NaN,252,1.5,108,...,9.85,NaN,NaN,2.6,1,43,NaN,NaN,NaN,1.56
2014-12-30,3.2,5.45,4.34,9.05,NA,NaN,NaN,249,1.45,108,...,9.95,NaN,NaN,2.5,0.96,41.75,NaN,NaN,NaN,1.55
2014-12-31,NA,NA,NA,NA,NA,NaN,NaN,NA,NA,NA,...,NA,NaN,NaN,NA,NA,NA,NaN,NaN,NaN,NA

In [22]:
dat.save()

Saved. UnadjustedPriceOpen

# UP

In [23]:
dat = DatastreamTable(fname='11_UP.xlsm', key_replace=' - UNADJUSTED PRICE', data_col='UP', 
                       table_name='UnadjustedPrice')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,3.90,5.45,4.46,9.05,4.86,NaN,NaN,248.0,1.47,109.5,...,9.85,NaN,NaN,2.66,1.00,42.0,NaN,NaN,NaN,1.55
2014-12-26,3.92,5.45,4.42,8.95,4.86,NaN,NaN,251.0,1.48,109.0,...,9.95,NaN,NaN,2.60,0.99,43.0,NaN,NaN,NaN,1.55
2014-12-29,3.24,5.45,4.32,9.00,4.86,NaN,NaN,249.0,1.45,108.0,...,9.95,NaN,NaN,2.52,0.96,42.0,NaN,NaN,NaN,1.54
2014-12-30,3.18,5.45,4.30,9.00,4.86,NaN,NaN,251.0,1.46,108.5,...,10,NaN,NaN,2.56,0.96,42.0,NaN,NaN,NaN,1.55
2014-12-31,3.18,5.45,4.30,9.00,4.86,NaN,NaN,251.0,1.46,108.5,...,10,NaN,NaN,2.56,0.96,42.0,NaN,NaN,NaN,1.55

In [24]:
dat.save()

Saved. UnadjustedPrice

# UPH

In [25]:
dat = DatastreamTable(fname='12_UPH.xlsm', key_replace=' - UNADJ. PRICE HIGH', data_col='UPH', 
                       table_name='UnadjustedPriceHigh')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,3.92,5.5,4.58,9.05,NA,NaN,NaN,252,1.54,112,...,9.9,NaN,NaN,2.78,1.05,42.5,NaN,NaN,NaN,1.57
2014-12-26,3.98,5.45,4.46,9.05,NA,NaN,NaN,251,1.5,109,...,9.95,NaN,NaN,2.84,1.02,43,NaN,NaN,NaN,1.56
2014-12-29,3.32,5.45,4.34,9,NA,NaN,NaN,253,1.5,108,...,10,NaN,NaN,2.6,1,43.5,NaN,NaN,NaN,1.56
2014-12-30,3.24,5.45,4.36,9.05,NA,NaN,NaN,252,1.46,109,...,10,NaN,NaN,2.58,0.97,42,NaN,NaN,NaN,1.56
2014-12-31,NA,NA,NA,NA,NA,NaN,NaN,NA,NA,NA,...,NA,NaN,NaN,NA,NA,NA,NaN,NaN,NaN,NA

In [26]:
dat.save()

Saved. UnadjustedPriceHigh

In [27]:
# UPL

In [28]:
dat = DatastreamTable(fname='13_UPL.xlsm', key_replace=' - UNADJ. PRICE LOW', data_col='UPL', 
                       table_name='UnadjustedPriceLow')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,3.82,5.45,4.44,8.95,NA,NaN,NaN,246,1.46,109.5,...,9.85,NaN,NaN,2.62,0.99,41.25,NaN,NaN,NaN,1.54
2014-12-26,3.82,5.45,4.38,8.95,NA,NaN,NaN,246,1.43,106.5,...,9.9,NaN,NaN,2.6,0.98,41.5,NaN,NaN,NaN,1.54
2014-12-29,3.18,5.45,4.24,8.95,NA,NaN,NaN,248,1.45,107.5,...,9.85,NaN,NaN,2.46,0.96,42,NaN,NaN,NaN,1.53
2014-12-30,3.04,5.45,4.28,9,NA,NaN,NaN,247,1.42,108,...,9.95,NaN,NaN,2.44,0.95,41.5,NaN,NaN,NaN,1.53
2014-12-31,NA,NA,NA,NA,NA,NaN,NaN,NA,NA,NA,...,NA,NaN,NaN,NA,NA,NA,NaN,NaN,NaN,NA

In [29]:
dat.save()

Saved. UnadjustedPriceLow

# UVO

In [30]:
dat = DatastreamTable(fname='14_UVO.xlsm', key_replace=' - UNADJ. VOLUME', data_col='UVO', 
                       table_name='UnadjustedVolume')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,5207,24.3,23459.2,42.7,NA,NaN,NaN,1774.2,6459.2,95.3,...,42.1,NaN,NaN,21404.3,10649.8,295.6,NaN,NaN,NaN,583.1
2014-12-26,9972.8,10,33451.5,16.6,NA,NaN,NaN,2453.1,5463,16.5,...,584.8,NaN,NaN,18527.4,3507.5,452.8,NaN,NaN,NaN,280.6
2014-12-29,9058,13.2,69141.7,16.6,NA,NaN,NaN,2282.7,1445.9,19.8,...,103,NaN,NaN,3312.2,2089.8,46.5,NaN,NaN,NaN,437.5
2014-12-30,2042.5,15,32556,6.1,NA,NaN,NaN,2303,2781.4,20.7,...,38.7,NaN,NaN,1930.9,1655.9,95.2,NaN,NaN,NaN,865.7
2014-12-31,NA,NA,NA,NA,NA,NaN,NaN,NA,NA,NA,...,NA,NaN,NaN,NA,NA,NA,NaN,NaN,NaN,NA

In [31]:
dat.save()

Saved. UnadjustedVolume

# PTBV

In [32]:
dat = DatastreamTable(fname='15_PTBV.xlsm', key_replace=' - PRICE TO BOOK VAL', data_col='PTBV', 
                       table_name='PriceToBookValue')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHABT,WHART,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,1866.57,1.86,1.11,0.92,1.18,NaN,NaN,15.77,1.34,2.62,...,NaN,NaN,NaN,1.84,3.07,6.59,NaN,NaN,NaN,0.84
2014-12-26,1876.14,1.86,1.10,0.91,1.18,NaN,NaN,15.96,1.35,2.61,...,NaN,NaN,NaN,1.80,3.04,6.75,NaN,NaN,NaN,0.84
2014-12-29,1770.49,1.86,1.07,0.91,1.18,NaN,NaN,15.83,1.32,2.59,...,NaN,NaN,NaN,1.74,2.95,6.59,NaN,NaN,NaN,0.84
2014-12-30,1737.70,1.86,1.07,0.91,1.18,NaN,NaN,15.96,1.33,2.60,...,NaN,NaN,NaN,1.77,2.95,6.59,NaN,NaN,NaN,0.84
2014-12-31,1737.70,1.86,1.07,0.91,1.18,NaN,NaN,15.96,1.33,2.60,...,NaN,NaN,NaN,1.77,2.95,6.59,NaN,NaN,NaN,0.84

In [33]:
dat.save()

Saved. PriceToBookValue

# PE

In [34]:
dat = DatastreamTable(fname='16_PE.xlsm', key_replace=' - PER', data_col='PE', 
                       table_name='PriceToEarningRatio')
dat.df.tail()

ValueError: Length mismatch: Expected axis has 522 elements, new values have 261 elements

# PI

In [35]:
dat = DatastreamTable(fname='17_PI.xlsm', key_replace=' - PRICE INDEX', data_col='PI', 
                       table_name='PriceIndex')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,110.5,140.8,120.5,97.5,27.6,NaN,NaN,5829.8,130.7,862.2,...,99.5,NaN,NaN,103.3,0.4,305.2,NaN,NaN,NaN,10.9
2014-12-26,111.1,140.8,119.5,96.4,27.6,NaN,NaN,5900.3,131.6,858.3,...,100.5,NaN,NaN,101.0,0.4,312.5,NaN,NaN,NaN,10.9
2014-12-29,104.8,140.8,116.8,97.0,27.6,NaN,NaN,5853.3,128.9,850.4,...,100.5,NaN,NaN,97.9,0.4,305.2,NaN,NaN,NaN,10.8
2014-12-30,102.9,140.8,116.2,97.0,27.6,NaN,NaN,5900.3,129.8,854.3,...,101,NaN,NaN,99.4,0.4,305.2,NaN,NaN,NaN,10.9
2014-12-31,102.9,140.8,116.2,97.0,27.6,NaN,NaN,5900.3,129.8,854.3,...,101,NaN,NaN,99.4,0.4,305.2,NaN,NaN,NaN,10.9

In [36]:
dat.save()

Saved. PriceIndex

# RI

In [37]:
dat = DatastreamTable(fname='18_RI.xlsm', key_replace=' - TOT RETURN IND', data_col='PI', 
                       table_name='TotalReturnIndex')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,161.38,146.75,120.54,109.61,103.25,NaN,NaN,16144.92,147.52,1502.58,...,99.49,NaN,NaN,209.78,0.41,516.65,NaN,NaN,NaN,33.39
2014-12-26,162.20,146.75,119.46,108.40,103.25,NaN,NaN,16340.22,148.53,1495.72,...,100.51,NaN,NaN,205.05,0.41,528.95,NaN,NaN,NaN,33.39
2014-12-29,153.07,146.75,116.76,109.00,103.25,NaN,NaN,16210.02,145.52,1482.00,...,100.51,NaN,NaN,198.74,0.40,516.65,NaN,NaN,NaN,33.18
2014-12-30,150.23,146.75,116.22,109.00,103.25,NaN,NaN,16340.22,146.52,1488.86,...,101.01,NaN,NaN,201.89,0.40,516.65,NaN,NaN,NaN,33.39
2014-12-31,150.23,146.75,116.22,109.00,103.25,NaN,NaN,16340.22,146.52,1488.86,...,101.01,NaN,NaN,201.89,0.40,516.65,NaN,NaN,NaN,33.39

In [38]:
dat.save()

Saved. TotalReturnIndex

# MTBV

In [39]:
dat = DatastreamTable(fname='19_MTBV.xlsm', key_replace=' - MRKT VALUE TO BOOK', data_col='MTBV', 
                       table_name='MarketValueToBook')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHABT,WHART,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,2133.41,1.86,1.11,0.92,1.15,NaN,NaN,15.77,1.34,2.62,...,NaN,NaN,NaN,1.84,3.07,6.59,NaN,NaN,NaN,0.84
2014-12-26,2144.35,1.86,1.10,0.91,1.15,NaN,NaN,15.96,1.35,2.61,...,NaN,NaN,NaN,1.80,3.04,6.75,NaN,NaN,NaN,0.84
2014-12-29,2126.84,1.86,1.07,0.91,1.15,NaN,NaN,15.84,1.32,2.59,...,NaN,NaN,NaN,1.74,2.95,6.59,NaN,NaN,NaN,0.84
2014-12-30,2087.46,1.86,1.07,0.91,1.15,NaN,NaN,15.96,1.33,2.60,...,NaN,NaN,NaN,1.77,2.95,6.59,NaN,NaN,NaN,0.84
2014-12-31,2087.46,1.86,1.07,0.91,1.15,NaN,NaN,15.96,1.33,2.60,...,NaN,NaN,NaN,1.77,2.95,6.59,NaN,NaN,NaN,0.84

In [40]:
dat.save()

Saved. MarketValueToBook

# NOSH

In [42]:
dat = DatastreamTable(fname='20_NOSH.xlsm', key_replace=' - NUMBER OF SHARES', data_col='NOSH', 
                       table_name='NumberOfShares')
dat.df.tail()

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHART,WHAUP,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,540000.0,980000.0,4849999.0,600000.0,188300.0,NaN,NaN,2973094.0,1009744.0,250000.0,...,310790,NaN,NaN,299938.0,496484.0,266040.0,NaN,NaN,NaN,1307736.0
2014-12-26,540000.0,980000.0,4849999.0,600000.0,188300.0,NaN,NaN,2973094.0,1009744.0,250000.0,...,310790,NaN,NaN,299938.0,496484.0,266040.0,NaN,NaN,NaN,1307736.0
2014-12-29,648000.0,980000.0,4849999.0,600000.0,188300.0,NaN,NaN,2973094.0,1009744.0,250000.0,...,310790,NaN,NaN,299938.0,496484.0,266040.0,NaN,NaN,NaN,1307736.0
2014-12-30,648000.0,980000.0,4849999.0,600000.0,188300.0,NaN,NaN,2973094.0,1009744.0,250000.0,...,310790,NaN,NaN,299938.0,496484.0,266040.0,NaN,NaN,NaN,1307736.0
2014-12-31,648000.0,980000.0,4849999.0,600000.0,188300.0,NaN,NaN,2973094.0,1009744.0,250000.0,...,310790,NaN,NaN,299938.0,496484.0,266040.0,NaN,NaN,NaN,1307736.0

In [43]:
dat.save()

Saved. NumberOfShares

# DWTA

In [45]:
dat = DatastreamTable(fname='21_DWTA.xlsm', key_replace=' - TOTAL ASSETS', data_col='DWTA', 
                       table_name='TotalAssets')
dat.df.tail()

EARTH TECH ENVIRONMENT
KERRY EXPRESS (THAILAND)
MICRO LEASING
NEXT CAPITAL
NR INSTANT PRODUCE
RIGHT TUNNELLING
SIAMESE ASSET
SUCCESSMORE BEING
SIAMRAJATHANEE
WELL GRADED ENGINEERING

,7UP,A,AAV,ABPIF,ACC,ACE,ACG,ADVANC,AEC,AEONTS,...,WHABT,WHART,WICE,WIIK,WIN,WORK,WP,WPH,ZEN,ZMICO
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-25,1059741.0,11123819.0,48288505.0,5808714.0,737013.0,NaN,NaN,118771381.0,3283644.0,64260681.0,...,NaN,NaN,291987.0,942729.0,407540.0,5075291.0,7859722.0,554108.0,NA,2475131.0
2014-12-26,1059741.0,11123819.0,48288505.0,5808714.0,737013.0,NaN,NaN,118771381.0,3283644.0,64260681.0,...,NaN,NaN,291987.0,942729.0,407540.0,5075291.0,7859722.0,554108.0,NA,2475131.0
2014-12-29,1059741.0,11123819.0,48288505.0,5808714.0,737013.0,NaN,NaN,118771381.0,3283644.0,64260681.0,...,NaN,NaN,291987.0,942729.0,407540.0,5075291.0,7859722.0,554108.0,NA,2475131.0
2014-12-30,1059741.0,11123819.0,48288505.0,5808714.0,737013.0,NaN,NaN,118771381.0,3283644.0,64260681.0,...,NaN,NaN,291987.0,942729.0,407540.0,5075291.0,7859722.0,554108.0,NA,2475131.0
2014-12-31,922593.0,11948544.0,49501801.0,5943741.0,737013.0,NaN,NaN,124908707.0,3318383.0,64260681.0,...,NaN,NaN,357981.0,911939.0,402480.0,5207929.0,5772582.0,485069.0,1.03662e+06,2577531.0

In [46]:
dat.save()

KeyError: 'KERRY EXPRESS (THAILAND'


# Save Ticker Lookup Table

In [ ]:
companies = []
for k,v in rename.items():
    companies.append({'name':k, 'ticker':v})

pd.DataFrame(data=companies).to_sql('Company', if_exists='replace', con=engine)

* ======

# PER

In [ ]:
def get_PE_series():
    fname = 'SET_PE_2014-2020.xlsm'
    wb = xlrd.open_workbook(fname)
    series = {}
    for i in range(2,8): # Note the sheet index 2014-2019
        s = wb.sheets()[i]

        # Date index
        s1 = pd.Series(s.col(0)[4:]) # observation starts at row 4
        s1 = s1.apply(lambda x: datetime(*xlrd.xldate_as_tuple(x.value, wb.datemode)))

        for j in range(1, s.ncols):
            c = s.col(j)
            print("{}".format(c[3].value))
            name = c[3].value
            # df = pd.DataFrame()
            if not "#ERROR" in name:
                # Convert spreadsheet market cap value to python
                s2 = pd.Series(c[4:]) # observation starts at row 4
                s2 = s2.apply(lambda x: x.value)
                df = pd.concat([s1, s2], axis=1)

                if not name in series:
                    series[name] = []
                series[name].append(df)
    return series

def rekey_and_stack(sin):
    sout = {}
    keys = sin.keys()
    # Change key
    for k in keys:
        if k == 'PER':
            # Add fix for PERM. It looks like the loader table messed up column name too.
            sout['PERM'] = sin[k]
        else:
            newkey = k[:-len(' - PER')]
            print(k," ==> ",newkey) # Debug above erro.
            symbol = lookup.loc[lookup['name']==newkey].symbol.values[0]
            sout[symbol] = sin[k]
    # Merge years
    for s in sout.keys():
        stock = pd.concat(sout[s], axis=0)
        stock.columns = ['Date', 'PE']
        stock = stock.set_index('Date') # Set date index
        sout[s] = stock 
    return sout

pe = get_PE_series()
per = rekey_and_stack(pe)

In [ ]:
per_data = {}
for t in tickers:
    if t in per:
        # print("Has price data for %s" % t)
        per_data[t] = per[t]
    else:
        print("No PE data for %s" % t)

# DIPE

In [ ]:
def get_DIPE_series():
    fname = 'SET_DIPE_2014-2020.xlsm'
    wb = xlrd.open_workbook(fname)
    series = {}
    for i in range(2,8): # Note the sheet index 2014-2019
        s = wb.sheets()[i]

        # Date index
        s1 = pd.Series(s.col(0)[4:]) # observation starts at row 4
        s1 = s1.apply(lambda x: datetime(*xlrd.xldate_as_tuple(x.value, wb.datemode)))

        for j in range(1, s.ncols):
            c = s.col(j)
            print("{}".format(c[3].value))
            name = c[3].value
            # df = pd.DataFrame()
            if not "#ERROR" in name:
                # Convert spreadsheet market cap value to python
                s2 = pd.Series(c[4:]) # observation starts at row 4
                s2 = s2.apply(lambda x: x.value)
                df = pd.concat([s1, s2], axis=1)

                if not name in series:
                    series[name] = []
                series[name].append(df)
    return series

def rekey_and_stack(sin):
    sout = {}
    keys = sin.keys()
    # Change key
    for k in keys:
        newkey = k.replace(' - PE RATIO 12M FWD','')
        symbol = lookup.loc[lookup['name']==newkey].symbol.values[0]
        sout[symbol] = sin[k]
    # Merge years
    for s in sout.keys():
        stock = pd.concat(sout[s], axis=0)
        stock.columns = ['Date', 'DIPE']
        stock = stock.set_index('Date') # Set date index
        sout[s] = stock 
    return sout

dipe = get_DIPE_series()
dipe_p = rekey_and_stack(dipe)

In [ ]:
dipe_data = {}
for t in tickers:
    if t in dipe_p:
        # print("Has price data for %s" % t)
        dipe_data[t] = dipe_p[t]
    else:
        print("No DIPE data for %s" % t)

In [ ]:
price['AAV'].plot()
price['AAV']

In [ ]:
turnover_va['AAV']

In [ ]:
(turnover_va['AAV']['VA'] == 'NA').sum()

In [ ]:
(price['AAV']['Price']=='NA').sum()

In [ ]:

# This will cause error in get_df because value will be assigned to the price data frame.
"""
df = price['AAV']
df['VA'] = turnover_va['AAV']
df['VO'] = turnover_vo['AAV']
df['MV'] = market_val['AAV']
df['PE'] = per_data['AAV']
df['DY'] = dy_data['AAV']
df['DIPE'] = dipe_data['AAV']
df = df.sort_index()
df
"""

In [ ]:
# Check data loaded from Eikon
# df[['Price', 'DY']].plot()

In [ ]:
df

# Process all 150 stocks

In [ ]:
os.chdir(os.environ['DATA_HOME'])
def get_df_old(t):
    df = pd.concat([price[t], 
                    turnover_va[t], 
                    turnover_vo[t], 
                    market_val[t], 
                    dy_data[t]], axis=1)
    return df[['Price', 'MV', 'VA', 'VO', 'DY']]


def get_df(t):
    df_price = price[t]
    df_va = turnover_va[t]
    df_vo = turnover_vo[t]
    df_mv = market_val[t]
    df_dy = dy_data[t]

    # pd.concat([price['BIG'], turnover_va['BIG']], axis=1)
    df2 =  df_price.merge(df_va, how="left", left_on=df_price.index, right_on=df_va.index)
    df2 = df2.set_index('key_0')
    df2 = df2.sort_index()
    df2 = df2.merge(df_vo, how="left", left_on=df2.index, right_on=df_vo.index)
    df2 = df2.set_index('key_0')
    df2 = df2.sort_index()
    df2 = df2.merge(df_mv, how="left", left_on=df2.index, right_on=df_mv.index)
    df2 = df2.set_index('key_0')
    df2 = df2.sort_index()
    df2 = df2.merge(df_dy, how="left", left_on=df2.index, right_on=df_dy.index)
    df2 = df2.set_index('key_0')
    df2 = df2.sort_index()
    df2.index.rename('Date', inplace=True)
    return df2[['Price', 'MV', 'VA', 'VO', 'DY']]

stocks_with_data = []

for t in tickers:
    print("Preparing %s" % t)
    try:
        df = get_df(t)
        df = df.sort_index()
        df.to_csv('set100.data/%s.csv' % t)
        print("wrote %s." % t)
        stocks_with_data.append(t)
    except KeyError:
        print("No data %s" % t)

In [ ]:
# Check individual stock: BLAND

pd.concat([price['BLAND'], turnover_va['BLAND'], turnover_vo['BLAND'], market_val['BLAND'], dy_data['BLAND']], axis=1)
# get_df('BLAND')

In [ ]:
pd.concat([price['BIG'], market_val['BIG'], dy_data['BIG']], axis=1)
# get_df('BIG') 

df_price = price['BIG']
df_va = turnover_va['BIG']
df_vo = turnover_vo['BIG']
df_mv = market_val['BIG']
df_dy = dy_data['BIG']

# pd.concat([price['BIG'], turnover_va['BIG']], axis=1)
df2 =  df_price.merge(df_va, how="left", left_on=df_price.index, right_on=df_va.index)
df2 = df2.set_index('key_0')
df2 = df2.sort_index()
df2 = df2.merge(df_vo, how="left", left_on=df2.index, right_on=df_vo.index)
df2 = df2.set_index('key_0')
df2 = df2.sort_index()
df2 = df2.merge(df_mv, how="left", left_on=df2.index, right_on=df_mv.index)
df2 = df2.set_index('key_0')
df2 = df2.sort_index()
df2 = df2.merge(df_dy, how="left", left_on=df2.index, right_on=df_dy.index)
df2 = df2.set_index('key_0')
df2 = df2.sort_index()
df2.index.rename('Date', inplace=True)

df2

In [ ]:
# U missing PER data
# UV missing DIPE data
# WHAUP missing PER data

# get_df('WHAUP')

In [ ]:
# pd.concat([price['CBG'], turnover_va['CBG'], turnover_vo['CBG'], market_val['CBG'], dy_data['CBG']], axis=1)

In [ ]:
# pd.concat([price['CBG'], turnover_va['CBG'], turnover_vo['CBG'], 
#            market_val['CBG'], dy_data['CBG'], per_data['CBG'], 
#            dipe_data['CBG']], axis=1, sort=False)

# df2 = dipe_data['BLAND']
# df['DIPE'] = dipe_data['BLAND'].sort_index()

# df_out = pd.merge(df1,df2, left_on=df1.index, right_on=df2.index, how='left')
# df_out

In [ ]:
price.keys()

# per_data['CBG'].plot()

In [ ]:
df1 = price['BLAND']
df2 = dipe_data['BLAND']
df_tmp = pd.merge(df1,df2, left_on=df1.index, right_on=df2.index, how='left')
df_tmp

In [ ]:


# df_tmp.index = df1.index
df3 = turnover_va['BLAND']
df4 = turnover_vo['BLAND']
df_tmp2 = pd.merge(df3,df4, left_on=df3.index, right_on=df4.index, how='left')
# df_tmp2.index = df3.index

df5 = market_val['BLAND']
df6 = per_data['BLAND']
df_tmp3 = pd.merge(df5,df6, left_on=df5.index, right_on=df6.index, how='left')
# df_tmp3.index = df5.index

df_tmp4 = pd.merge(df_tmp, df_tmp2, left_on=df_tmp.index, right_on=df_tmp2.index, how='left')


df_tmp5 = pd.merge(df_tmp4, df_tmp3, left_on=df_tmp4.index, right_on=df_tmp3.index, how='left')



df_tmp5

In [ ]:
price['BIG']

In [ ]:
turnover_va['BIG'].sort_index()

In [ ]:
market_val['MBK']

In [ ]:
sector_lookup = os.path.join(os.environ['EXPERIMENT_HOME'],"""1.0 Data Acquisition/stock_ticker.csv""")
sector_lookup = pd.read_csv(sector_lookup)

df_lookup = pd.DataFrame()

for t in stocks_with_data:
    print(t)
    s = t
    if t == 'GOLD':
        t = 'FPT'
    # symbol = lookup.loc[lookup['name']==newkey].symbol.values[0]
    name = sector_lookup.loc[sector_lookup['symbol']==t].name.values[0]
    sector = sector_lookup.loc[sector_lookup['symbol']==t].sector.values[0]
    industry = sector_lookup.loc[sector_lookup['symbol']==t].industry.values[0]
    print(t,sector,industry, name)
    dat = {'ticker': t, 'company_name': name, 'industry': industry, 'sector': sector, 'symbol': s}
    df_lookup = df_lookup.append(dat,ignore_index=True)

In [ ]:
df_lookup = df_lookup.set_index('ticker')

In [ ]:
df_lookup = df_lookup.sort_index()

In [ ]:
df_lookup

In [ ]:
outfile = os.path.join(os.environ['DATA_HOME'],"set100.data","_directory.csv")
df_lookup.to_csv(outfile)

In [ ]:
sorted(stocks_with_data)
len(stocks_with_data)

In [ ]:
get_df('AAV')