In [1]:
from datetime import datetime

In [4]:
dt1 = datetime.now()
dt1

datetime.datetime(2020, 9, 18, 12, 40, 2, 6311)

In [8]:
dt1.timestamp()

1600432802.006311

In [9]:
dt1.month

9

In [13]:
# Day of week
dt1.weekday()

4

In [19]:
# Day of year
dt1.timetuple().tm_yday

262

In [22]:
import numpy as np
import pandas as pd
csv_path = 'https://raw.githubusercontent.com/chayapan/thesis/master/historical/ADVANC.csv'
df = pd.read_csv(csv_path)

In [23]:
# Daily Returns
df['Daily Return'] = np.log(df['Adj Close']/df['Adj Close'].shift())

df[['Adj Close', 'Daily Return']]

       Adj Close  Daily Return
0     137.609299           NaN
1     144.232224      0.047006
2     147.911621      0.025190
3     154.534515      0.043803
4     151.591019     -0.019231
...          ...           ...
1568  197.000000      0.017926
1569  201.000000      0.020101
1570  199.500000     -0.007491
1571  195.000000     -0.022815
1572  196.000000      0.005115

[1573 rows x 2 columns]