# Read from PostgreSQL

Then save to stock.db SQLite database.

In [1]:
import sys, os, os.path
if not 'EXPERIMENT_HOME' in os.environ: # Configure local paths if not already defined
    ML_HOME = os.path.abspath(os.path.join("/home/jovyan", "ml_home")) # ML workspace
    sys.path.insert(0, ML_HOME) # Add to path so can load our library
    EXPERIMENT_HOME = os.path.abspath(os.path.join(ML_HOME, "..")) # Experiment workspace
from experiment import init_experiment
db_engine = init_experiment(EXPERIMENT_HOME)

Experiment Home:  /home/jovyan ; Data Home: /home/jovyan/dataset ;
Database: Engine(postgresql://datauser:***@172.18.0.1:5432/stockdb)

In [2]:
from datetime import datetime
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import xlrd
import matplotlib.pyplot as plt
%matplotlib inline

# Fact Table: set100_daily_facts

In [3]:
# Select all facts
sql = """SELECT * FROM set100_daily_facts;"""
df_read = pd.read_sql(sql, db_engine)
df_read

,stock,date,VO,MV,VA,NOSH,P,PO,PH,PL,MACD,PI,RI,DY
0,TH:AAV,2015-01-01,NaN,2.085500e+10,None,4849999.0,4.30,None,None,None,0.00,116.2,116.22,0
1,TH:AAV,2015-01-02,NaN,2.085500e+10,None,4849999.0,4.30,None,None,None,0.00,116.2,116.22,0
2,TH:AAV,2015-01-05,16567400.0,2.085500e+10,71287900.0,4849999.0,4.30,4.3,4.32,4.28,0.00,116.2,116.22,0
3,TH:AAV,2015-01-06,59230200.0,2.201899e+10,265539000,4849999.0,4.54,4.34,4.56,4.34,0.02,122.7,122.7,0
4,TH:AAV,2015-01-07,24048500.0,2.221299e+10,110609100.0,4849999.0,4.58,4.62,4.64,4.56,0.04,123.8,123.78,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208635,TH:WORK,2019-12-25,1918200.0,6.005220e+09,25806500.0,441560.0,13.60,13.3,13.8,13.1,-0.69,139.3,248.34,3.31
208636,TH:WORK,2019-12-26,1907000.0,6.137690e+09,26514500.0,441560.0,13.90,13.6,14.1,13.6,-0.62,142.4,253.82,3.24
208637,TH:WORK,2019-12-27,1587200.0,6.226000e+09,22389900.0,441560.0,14.10,14,14.3,13.9,-0.55,144.4,257.47,3.19
208638,TH:WORK,2019-12-30,159000.0,6.181840e+09,2242300.0,441560.0,14.00,14.1,14.2,14,-0.49,143.4,255.64,3.21
208639,TH:WORK,2019-12-31,NaN,6.181840e+09,None,441560.0,14.00,None,None,None,-0.43,143.4,255.64,3.21

# Company Dimension: set100_company_dim

In [4]:
# Select all companies
sql = """SELECT * FROM set100_company_dim;"""
df_read = pd.read_sql(sql, db_engine)
df_stock = df_read.set_index('stock')
df_stock

,index,company_name,datastream_mnemonic,local_code,symbol,exchange,industry,sector
stock,,,,,,,,
ASIA AVIATION PUBLIC COMPANY LIMITED,0,ASIA AVIATION,Q:AAVP,TH:AAV,AAV,SET,Services,Transportation & Logistics
ADVANCED INFO SERVICE PUBLIC COMPANY LIMITED,1,ADVANCED INFO SER.,Q:AIS,TH:ADVANC,ADVANC,SET,Technology,Information & Communication Technology
AEON THANA SINSAP (THAILAND) PUBLIC COMPANY LIMITED,2,AE.THANA SINSAP (THAI.),Q:ATS,TH:AEONTS,AEONTS,SET,Financials,Finance & Securities
AMATA CORPORATION PUBLIC COMPANY LIMITED,3,AMATA,Q:PAKO,TH:AMATA,AMATA,SET,Property & Construction,Property Development
ANANDA DEVELOPMENT PUBLIC COMPANY LIMITED,4,ANANDA DEVELOPMENT,Q:ADTP,TH:ANAN,ANAN,SET,Property & Construction,Property Development
...,...,...,...,...,...,...,...,...
VGI PUBLIC COMPANY LIMITED,154,VGI,Q:VGIP,TH:VGI,VGI,SET,Services,Media & Publishing
VANACHAI GROUP PUBLIC COMPANY LIMITED,156,VANACHAI GROUP,Q:VANA,TH:VNG,VNG,SET,Property & Construction,Construction Materials
WHA CORPORATION PUBLIC COMPANY LIMITED,157,WHA,Q:WHAP,TH:WHA,WHA,SET,Property & Construction,Property Development
WHA UTILITIES AND POWER PUBLIC COMPANY LIMITED,158,WHA UTILITIES AND POWER,Q:WHAU,TH:WHAUP,WHAUP,SET,Resources,Energy & Utilities
WORKPOINT ENTERTAINMENT PUBLIC COMPANY LIMITED,159,WORKPOINT ENTERTAINMENT,Q:WORK,TH:WORK,WORK,SET,Services,Media & Publishing

# Time Dimension: set100_time_dim

In [5]:
# Select all time units
sql = """SELECT * FROM set100_time_dim;"""
df_read = pd.read_sql(sql, db_engine)
df_time = df_read.set_index('date')
df_time

,dt,month,year,dayofweek,day_name,dayofyear,daysinmonth
date,,,,,,,
2015-01-01,2015-01-01,1,2015,3,Thursday,1,31
2015-01-02,2015-01-02,1,2015,4,Friday,2,31
2015-01-05,2015-01-05,1,2015,0,Monday,5,31
2015-01-06,2015-01-06,1,2015,1,Tuesday,6,31
2015-01-07,2015-01-07,1,2015,2,Wednesday,7,31
...,...,...,...,...,...,...,...
2019-12-25,2019-12-25,12,2019,2,Wednesday,359,31
2019-12-26,2019-12-26,12,2019,3,Thursday,360,31
2019-12-27,2019-12-27,12,2019,4,Friday,361,31
2019-12-30,2019-12-30,12,2019,0,Monday,364,31
2019-12-31,2019-12-31,12,2019,1,Tuesday,365,31

In [6]:
# Select by date
sql = """SELECT f.* FROM set100_daily_facts f
WHERE f.date BETWEEN '2016-01-01' AND '2016-02-01';"""
df_read = pd.read_sql(sql, db_engine)
df_read

,stock,date,VO,MV,VA,NOSH,P,PO,PH,PL,MACD,PI,RI,DY
0,TH:AAV,2016-01-01,NaN,2.546249e+10,None,4849999.0,5.25,None,None,None,0.15,141.9,145.1,1.9
1,TH:AAV,2016-01-04,8310700.0,2.497749e+10,42566100.0,4849999.0,5.15,5.2,5.2,5.05,0.14,139.2,142.34,1.94
2,TH:AAV,2016-01-05,39276900.0,2.521999e+10,199397100.0,4849999.0,5.20,5.15,5.2,4.92,0.14,140.5,143.72,1.92
3,TH:AAV,2016-01-06,44470000.0,2.594750e+10,234577400.0,4849999.0,5.35,5.2,5.35,5.15,0.16,144.6,147.87,1.87
4,TH:AAV,2016-01-07,41972900.0,2.667499e+10,228150200.0,4849999.0,5.50,5.35,5.55,5.35,0.17,148.6,152.01,1.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3515,TH:WORK,2016-01-26,250600.0,1.669020e+10,10059200.0,417255.0,40.00,40.75,41,39.5,-0.69,409.7,697.12,0.51
3516,TH:WORK,2016-01-27,134900.0,1.648157e+10,5377400.0,417255.0,39.50,40,40.25,39.5,-0.79,404.6,688.41,0.52
3517,TH:WORK,2016-01-28,473900.0,1.627294e+10,18703600.0,417255.0,39.00,39.5,40.25,39,-0.90,399.4,679.7,0.52
3518,TH:WORK,2016-01-29,175300.0,1.606432e+10,6802700.0,417255.0,38.50,38.75,39.25,38.5,-1.01,394.3,670.98,0.53
3519,TH:WORK,2016-02-01,161100.0,1.606432e+10,6188400.0,417255.0,38.50,38.75,39,38,-1.09,394.3,670.98,0.53

# Save to SQLite3

In [7]:
from dataset import get_dataset_db

In [8]:
dataset_db = get_dataset_db()

In [9]:
os.environ['DATA_HOME']

'/home/jovyan/dataset'

In [10]:
!ls /home/jovyan/dataset

BOT	       pilot.data	     set100_updates.csv
Datastream     SET		     SET100.xlsx
eikon-data     set100_add_list.json  stock.db
fe-data.or.th  set100.data	     update_historical_data.py
historical     set100_union.csv      YahooFinance

In [11]:
# Save to stock.db
df_time.to_sql('set100_time_dim', con=dataset_db, if_exists='replace')
df_stock.to_sql('set100_company_dim', con=dataset_db, if_exists='replace')
df_read.to_sql('set100_daily_fact', con=dataset_db, if_exists='replace')

### Test Read

In [12]:
# Select by date
sql = """SELECT f.* FROM set100_daily_fact f
WHERE f.date BETWEEN '2016-01-01' AND '2016-02-01';"""
df_fact = pd.read_sql(sql, dataset_db)
df_fact

,index,stock,date,VO,MV,VA,NOSH,P,PO,PH,PL,MACD,PI,RI,DY
0,0,TH:AAV,2016-01-01 00:00:00,NaN,2.546249e+10,None,4849999.0,5.25,None,None,None,0.15,141.9,145.1,1.9
1,1,TH:AAV,2016-01-04 00:00:00,8310700.0,2.497749e+10,42566100.0,4849999.0,5.15,5.2,5.2,5.05,0.14,139.2,142.34,1.94
2,2,TH:AAV,2016-01-05 00:00:00,39276900.0,2.521999e+10,199397100.0,4849999.0,5.20,5.15,5.2,4.92,0.14,140.5,143.72,1.92
3,3,TH:AAV,2016-01-06 00:00:00,44470000.0,2.594750e+10,234577400.0,4849999.0,5.35,5.2,5.35,5.15,0.16,144.6,147.87,1.87
4,4,TH:AAV,2016-01-07 00:00:00,41972900.0,2.667499e+10,228150200.0,4849999.0,5.50,5.35,5.55,5.35,0.17,148.6,152.01,1.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3355,3514,TH:WORK,2016-01-25 00:00:00,778300.0,1.710745e+10,32062300.0,417255.0,41.00,41.5,41.5,41,-0.61,419.9,714.55,0.5
3356,3515,TH:WORK,2016-01-26 00:00:00,250600.0,1.669020e+10,10059200.0,417255.0,40.00,40.75,41,39.5,-0.69,409.7,697.12,0.51
3357,3516,TH:WORK,2016-01-27 00:00:00,134900.0,1.648157e+10,5377400.0,417255.0,39.50,40,40.25,39.5,-0.79,404.6,688.41,0.52
3358,3517,TH:WORK,2016-01-28 00:00:00,473900.0,1.627294e+10,18703600.0,417255.0,39.00,39.5,40.25,39,-0.90,399.4,679.7,0.52
3359,3518,TH:WORK,2016-01-29 00:00:00,175300.0,1.606432e+10,6802700.0,417255.0,38.50,38.75,39.25,38.5,-1.01,394.3,670.98,0.53