# Technical Indicators 

Use TA-Lib library to calculate technical indicators.

https://pypi.org/project/talib-binary/

In [1]:
import talib
import numpy as np
import pandas as pd
import datetime as dt
import os, os.path

In [3]:
DATA_HOME = os.path.abspath(os.path.join("..", "dataset", "historical"))

symbols = ["ADVANC","BTS"]
data = {}
for s in symbols:
    data[s] = pd.read_csv(os.path.join(DATA_HOME,"%s.csv" % s), index_col=0)

df = data["ADVANC"]
df.index = pd.to_datetime(df.index)
daily = df['2014-01-01':'2016-12-31']
DATA_HOME

'/home/jovyan/dataset/historical'

In [4]:
daily

             High    Low   Open  Close      Volume   Adj Close
Date
2014-01-02  198.5  187.0  198.0  187.0  12694200.0  137.609299
2014-01-03  196.0  186.5  187.0  196.0  16987100.0  144.232224
2014-01-06  203.0  191.0  195.0  201.0  10294700.0  147.911621
2014-01-07  210.0  200.0  205.0  210.0  11479200.0  154.534515
2014-01-08  210.0  203.0  208.0  206.0  13653100.0  151.591019
...           ...    ...    ...    ...         ...         ...
2016-12-26  145.5  144.5  145.0  145.0   2073000.0  126.894188
2016-12-27  145.5  144.0  145.5  144.0   2083000.0  126.019043
2016-12-28  145.0  144.0  144.5  144.5   2412300.0  126.456635
2016-12-29  147.5  144.5  145.0  147.0   5939500.0  128.644470
2016-12-30  148.0  147.0  147.0  147.0   3421900.0  128.644470

[733 rows x 6 columns]

In [ ]:
from talib.abstract import *

inputs = {
    'open': daily["Open"],
    'high': daily["High"],
    'low': daily["Low"],
    'close': daily["Close"],
    'volume': daily["Volume"]
}


daily_sma = SMA(inputs, timeperiod=25)

daily["SMA"] = daily_sma.tolist()
daily

In [ ]:
obv = OBV(inputs)
obv

In [ ]:
ad = AD(inputs)
ad

In [ ]:
atr = ATR(inputs)
daily["ATR"] = atr.tolist()
daily["RSI"] = RSI(inputs).tolist()
daily["AD"] = AD(inputs).tolist()
daily

In [ ]:
daily[["Close","ATR", "RSI"]].plot()